# Imports y funciones

In [1]:
# # üì¶ Importar librer√≠as necesarias
import pyspark
import pandas as pd
import numpy as np
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

import os

In [2]:
import kagglehub

# Descargar el dataset desde Kaggle Hub
path = kagglehub.dataset_download("davidcariboo/player-scores")

print("Path to dataset files:", path)

# Lista los archivos descargados
for root, _, files in os.walk(path):
    for file in files:
        print(os.path.join(root, file))

/home/santi/miniconda3/envs/futbol/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/appearances.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/game_lineups.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/transfers.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/players.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/player_valuations.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/competitions.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/games.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/game_events.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/club_games.csv
/home/santi/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/clubs.csv

In [3]:
spark = SparkSession.builder.appName('tfm_2025').config("spark.driver.memory", "8g").config("spark.executor.memory", "8g").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/11 21:29:02 WARN Utils: Your hostname, santiagocp, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/06/11 21:29:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/11 21:29:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Funciones utiles para la limpieza

In [4]:
def mostrar_sumario(df):
    """
    Muestra un sumario del dataset.
    Explicacion:
        - Usa la funcion 'describe()' para mostrar las siguientes metricas:
            - El conteo de filas por columna.
            - La media de los valores de las columnas numericas (muestra NULL si no es numerica).
            - La desviacion  estandar de los valores de las columnas numericas (muestra NULL si no es numerica).
            - El valor minimo de cada columna.
            - El valor maximo de cada columna.
        - Devuelve el DataFrame con las metricas.
    Args:
        df: DataFrame a analizar

    Returns:
        Un DataFrame con las m√©tricas del dataset.
    """
    return df.summary()

In [5]:
def contar_nulos_por_columna(df):
    """
    Calcula el numero de valores nulos en cada columna del DataFrame.
    Explicacion:
        - Itera sobre cada columna del DataFrame utilizando 'df.columns'.
        - Usa la funcion 'expr()' que utiliza una expresion SQL para contar los valores nulos en cada columna.
        - Asigna '1' si el valor es nulo y '0' si no es nulo.
        - Renombra la columna con '.alias(c)' para mantener el nombre original.
        - Selecciona y aplica la transformacion en todas las columnas dinamicamente con 'df.select([...])'.
        - Devuelve el DataFrame con los conteos de nulos.
    Args:
        df: DataFrame a analizar

    Returns:
        Un DataFrame con las mismas columnas del DataFrame original
        y una fila que indica el numero de valores nulos por columna.
    """
    # df.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df.columns]).show()
    return df.select([expr(f"sum(case when {c} is null then 1 else 0 end)").alias(c) for c in df.columns])

In [6]:
def duplicados_por_columna(df, columna):
    """
    Muestra los valores duplicados y su conteo para una columna especifica.
    Explicacion:
        - Agrupa el DataFrame por la columna especificada.
        - Cuenta el numero de ocurrencias de cada valor en la columna.
        - Filtra para ver los valores que aparecen mas de una vez.
    Args:
        df: DataFrame a analizar.
        columna: Nombre de la columna a verificar.
    """
    df.groupBy(columna).count().filter(col("count") > 1).show(truncate=False)

# Archivo "clubs.csv"

In [7]:
# Cargar el csv
df_clubs = spark.read.csv(path+"/clubs.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_clubs.show(10)
df_clubs.printSchema()
df_clubs.columns

+-------+-----------------+--------------------+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|club_id|        club_code|                name|domestic_competition_id|total_market_value|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|        stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|            filename|                 url|
+-------+-----------------+--------------------+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|    105|  sv-darmstadt-98|     SV Darmstadt 98|                     L1|              NULL|        27|       25.6|               13|                 48.1|                    1|Merck-Stadion am ...|        17810|            +‚Ç¨3.05m|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|  11127|ural-ekaterinburg|  Ural Yekaterinburg|                    RU1|              NULL|        30|       26.5|               11|                 36.7|                    3| Yekaterinburg Arena|        23000|             +‚Ç¨880k|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|    114|besiktas-istanbul|Be≈üikta≈ü Jimnasti...|                    TR1|              NULL|        30|       26.6|               15|                 50.0|                    8|       Be≈üikta≈ü Park|        42445|           ‚Ç¨-25.26m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|     12|           as-rom|Associazione Spor...|                    IT1|              NULL|        26|       26.3|               18|                 69.2|                   17|    Olimpico di Roma|        70634|           ‚Ç¨-76.90m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    148|tottenham-hotspur|Tottenham Hotspur...|                    GB1|              NULL|        30|       25.5|               21|                 70.0|                   18|Tottenham Hotspur...|        62850|          ‚Ç¨-120.05m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    157|         kaa-gent|Koninklijke Atlet...|                    BE1|              NULL|        30|       25.2|               19|                 63.3|                    5|  Planet Group Arena|        20185|            +‚Ç¨5.63m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|   1894|      hvidovre-if|         Hvidovre IF|                    DK1|              NULL|        25|       26.4|                3|                 12.0|                    2|PRO VENTILATION A...|        12000|             +‚Ç¨225k|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|    190|    fc-kopenhagen|Football Club K√∏b...|                    DK1|              NULL|        28|       26.1|               19|                 67.9|                    9|              Parken|        38065|           +‚Ç¨35.06m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    192| roda-jc-kerkrade|    Roda JC Kerkrade|                    NL1|              NULL|        25|       24.0|                9|                 36.0|                    0|Parkstad Limburg ...|        19979|            +‚Ç¨1.30m|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|  19789| yeni-malatyaspor|    Yeni Malatyaspor|                    TR1|              NULL|        10|       22.9|                1|                 10.0|                    0|Yeni Malatya Stad...|        25745|             +‚Ç¨778k|      NULL|       2021|../data/raw/trans...|https://www.trans...|
+-------+-----------------+--------------------+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
only showing top 10 rows
root
 |-- club_id: integer (nullable = true)
 |-- club_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- domestic_competition_id: string (nullable = true)
 |-- total_market_value: string (nullable = true)
 |-- squad_size: integer (nullable = true)
 |-- average_age: double (nullable = true)
 |-- foreigners_number: integer (nullable = true)
 |-- foreigners_percentage: double (nullable = true)
 |-- national_team_players: integer (nullable = true)
 |-- stadium_name: string (nullable = true)
 |-- stadium_seats: integer (nullable = true)
 |-- net_transfer_record: string (nullable = true)
 |-- coach_name: string (nullable = true)
 |-- last_season: integer (nullable = true)
 |-- filename: string (nullable = true)
 |-- url: string (nullable = true)

['club_id',
 'club_code',
 'name',
 'domestic_competition_id',
 'total_market_value',
 'squad_size',
 'average_age',
 'foreigners_number',
 'foreigners_percentage',
 'national_team_players',
 'stadium_name',
 'stadium_seats',
 'net_transfer_record',
 'coach_name',
 'last_season',
 'filename',
 'url']

In [8]:
mostrar_sumario(df_clubs).show()

25/06/11 21:29:06 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+--------------------+--------------------+-----------------------+------------------+------------------+------------------+------------------+---------------------+---------------------+--------------------+------------------+-------------------+----------+------------------+--------------------+--------------------+
|summary|           club_id|           club_code|                name|domestic_competition_id|total_market_value|        squad_size|       average_age| foreigners_number|foreigners_percentage|national_team_players|        stadium_name|     stadium_seats|net_transfer_record|coach_name|       last_season|            filename|                 url|
+-------+------------------+--------------------+--------------------+-----------------------+------------------+------------------+------------------+------------------+---------------------+---------------------+--------------------+------------------+-------------------+----------+------------------+--------------------+--------------------+
|  count|               439|                 439|                 439|                    439|                 0|               439|               401|               439|                  390|                  439|                 439|               439|                439|         0|               439|                 439|                 439|
|   mean| 6283.476082004556|                NULL|                NULL|                   NULL|              NULL|24.184510250569478|25.616458852867833|11.186788154897494|    46.58256410256409|    4.751708428246014|                NULL| 24204.09111617312|               NULL|      NULL|2021.5261958997721|                NULL|                NULL|
| stddev|14588.760048798284|                NULL|                NULL|                   NULL|              NULL| 8.692364605919742|2.0594849911877686| 6.807644670652882|   20.274257199133096|      4.8966338775037|                NULL|17230.554383862418|               NULL|      NULL| 3.563977802805077|                NULL|                NULL|
|    min|                 3|1-fc-heidenheim-1846|"–§—É—Ç–±–æ–ª—å–Ω—ã–π –∫–ª—É–± ...|                    BE1|              NULL|                 0|               0.0|                 0|                  2.4|                    0|"Comunale Renzo B...|                 0|                +-0|      NULL|              2012|../data/raw/trans...|https://www.trans...|
|    25%|               430|                NULL|                NULL|                   NULL|              NULL|                24|              24.6|                 6|                 30.8|                    1|                NULL|             10800|               NULL|      NULL|              2020|                NULL|                NULL|
|    50%|              1158|                NULL|                NULL|                   NULL|              NULL|                26|              25.8|                12|                 48.0|                    3|                NULL|             20087|               NULL|      NULL|              2024|                NULL|                NULL|
|    75%|              3592|                NULL|                NULL|                   NULL|              NULL|                29|              26.8|                16|                 62.5|                    7|                NULL|             32400|               NULL|      NULL|              2024|                NULL|                NULL|
|    max|            110302|         zska-moskau|ƒ∞stanbul Ba≈üak≈üeh...|                   UKR1|              NULL|                41|              29.9|                29|                100.0|                   22|√úmraniye Belediye...|             81365|           ‚Ç¨-98.25m|      NULL|              2024|../data/raw/trans...|https://www.trans...|
+-------+------------------+--------------------+--------------------+-----------------------+------------------+------------------+------------------+------------------+---------------------+---------------------+--------------------+------------------+-------------------+----------+------------------+--------------------+--------------------+

In [9]:
contar_nulos_por_columna(df_clubs).show()

+-------+---------+----+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
|club_id|club_code|name|domestic_competition_id|total_market_value|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|filename|url|
+-------+---------+----+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
|      0|        0|   0|                      0|               439|         0|         38|                0|                   49|                    0|           0|            0|                  0|       439|          0|       0|  0|
+-------+---------+----+-----------------------+------------------+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+

In [10]:
duplicados_por_columna(df_clubs, "club_id")

+-------+-----+
|club_id|count|
+-------+-----+
+-------+-----+

In [11]:
# Comparar numero de filas totales con numero de nulos en 'total_market_value'
print(f"Filas totales: {df_clubs.count()}")
print(f"Nulos en la columna 'total_market_value': {contar_nulos_por_columna(df_clubs).select('total_market_value').first()[0]}")

Filas totales: 439
Nulos en la columna 'total_market_value': 439

In [12]:
# La columna 'total_market_value' esta completamente vacia, podemos eliminarla
df_clubs = df_clubs.drop("total_market_value")
df_clubs.show()

+-------+-------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|club_id|          club_code|                name|domestic_competition_id|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|        stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|            filename|                 url|
+-------+-------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|    105|    sv-darmstadt-98|     SV Darmstadt 98|                     L1|        27|       25.6|               13|                 48.1|                    1|Merck-Stadion am ...|        17810|            +‚Ç¨3.05m|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|  11127|  ural-ekaterinburg|  Ural Yekaterinburg|                    RU1|        30|       26.5|               11|                 36.7|                    3| Yekaterinburg Arena|        23000|             +‚Ç¨880k|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|    114|  besiktas-istanbul|Be≈üikta≈ü Jimnasti...|                    TR1|        30|       26.6|               15|                 50.0|                    8|       Be≈üikta≈ü Park|        42445|           ‚Ç¨-25.26m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|     12|             as-rom|Associazione Spor...|                    IT1|        26|       26.3|               18|                 69.2|                   17|    Olimpico di Roma|        70634|           ‚Ç¨-76.90m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    148|  tottenham-hotspur|Tottenham Hotspur...|                    GB1|        30|       25.5|               21|                 70.0|                   18|Tottenham Hotspur...|        62850|          ‚Ç¨-120.05m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    157|           kaa-gent|Koninklijke Atlet...|                    BE1|        30|       25.2|               19|                 63.3|                    5|  Planet Group Arena|        20185|            +‚Ç¨5.63m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|   1894|        hvidovre-if|         Hvidovre IF|                    DK1|        25|       26.4|                3|                 12.0|                    2|PRO VENTILATION A...|        12000|             +‚Ç¨225k|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|    190|      fc-kopenhagen|Football Club K√∏b...|                    DK1|        28|       26.1|               19|                 67.9|                    9|              Parken|        38065|           +‚Ç¨35.06m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    192|   roda-jc-kerkrade|    Roda JC Kerkrade|                    NL1|        25|       24.0|                9|                 36.0|                    0|Parkstad Limburg ...|        19979|            +‚Ç¨1.30m|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|  19789|   yeni-malatyaspor|    Yeni Malatyaspor|                    TR1|        10|       22.9|                1|                 10.0|                    0|Yeni Malatya Stad...|        25745|             +‚Ç¨778k|      NULL|       2021|../data/raw/trans...|https://www.trans...|
|   2079|          veria-nps|           Veria NPS|                    GR1|        29|       24.3|                4|                 13.8|                    0|Dimotiko Stadio V...|         6350|                +-0|      NULL|       2016|../data/raw/trans...|https://www.trans...|
|  21957|       ao-platanias|        AO Platanias|                    GR1|         0|       NULL|                0|                 NULL|                    0|Dimotiko Gipedo P...|         3700|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|   2414|         ac-horsens|          AC Horsens|                    DK1|        19|       25.1|                9|                 47.4|                    4|Nordstern Arena H...|        10400|                +-0|      NULL|       2022|../data/raw/trans...|https://www.trans...|
|   2457|     belenenses-sad|               B SAD|                    PO1|        25|       24.2|               13|                 52.0|                    4|Est√°dio Nacional ...|        37593|            +‚Ç¨1.80m|      NULL|       2021|../data/raw/trans...|https://www.trans...|
|   2578|    st-johnstone-fc|Saint Johnstone F...|                    SC1|        26|       26.2|               19|                 73.1|                    3|      McDiarmid Park|        10696|                +-0|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|    269|      holstein-kiel|Kieler Sportverei...|                     L1|        29|       26.3|               11|                 37.9|                    4|    Holstein-Stadion|        15034|            ‚Ç¨-6.20m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|   2727|oud-heverlee-leuven| Oud-Heverlee Leuven|                    BE1|        27|       24.9|               15|                 55.6|                    2|King Power at Den...|         9809|            +‚Ç¨7.80m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|  28643|   waasland-beveren|          SK Beveren|                    BE1|        27|       26.8|               16|                 59.3|                    3|    Freethielstadion|        13290|             ‚Ç¨-350k|      NULL|       2020|../data/raw/trans...|https://www.trans...|
|   2990|  academica-coimbra|   Acad√©mica Coimbra|                    PO1|        26|       25.2|                6|                 23.1|                    0|Est√°dio Cidade de...|        29744|             +‚Ç¨150k|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|   3057|   standard-luttich|Royal Standard Cl...|                    BE1|        28|       24.1|               17|                 60.7|                    9|Maurice Dufrasne ...|        27221|           +‚Ç¨11.30m|      NULL|       2024|../data/raw/trans...|https://www.trans...|
+-------+-------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [13]:
# Ver nulos de la columna 'average_age'
df_clubs.filter(col('average_age').isNull()).show()

+-------+--------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|club_id|           club_code|                name|domestic_competition_id|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|        stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|            filename|                 url|
+-------+--------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|  21957|        ao-platanias|        AO Platanias|                    GR1|         0|       NULL|                0|                 NULL|                    0|Dimotiko Gipedo P...|         3700|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|   6996|    goverla-uzhgorod|Goverla Uzhgorod ...|                   UKR1|         0|       NULL|                0|                 NULL|                    0|            Avangard|        10640|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|   2477|        karpaty-lviv|Karpaty Lviv (-2021)|                   UKR1|         0|       NULL|                0|                 NULL|                    0|     Stadion Ukraina|        28051|                +-0|      NULL|       2019|../data/raw/trans...|https://www.trans...|
|    566|        beerschot-ac|        Beerschot AC|                    BE1|         0|       NULL|                0|                 NULL|                    0|   Olympisch Stadion|        12771|                +-0|      NULL|       2012|../data/raw/trans...|https://www.trans...|
|   1411|           raec-mons|  RAEC Mons (- 2015)|                    BE1|         0|       NULL|                0|                 NULL|                    0|Stade Charles Ton...|        12662|                +-0|      NULL|       2013|../data/raw/trans...|https://www.trans...|
|  16239|     desna-chernigiv|     Desna Chernigiv|                   UKR1|         0|       NULL|                0|                 NULL|                    0|Stadion im. Yuriy...|        12060|                +-0|      NULL|       2021|../data/raw/trans...|https://www.trans...|
|  28956|         ael-kalloni|         AEL Kalloni|                    GR1|         0|       NULL|                0|                 NULL|                    0|    Stadio Mytilinis|         4000|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|  16247|  pfk-stal-kamyanske|PFK Stal Kamyansk...|                   UKR1|         0|       NULL|                0|                 NULL|                    0|              Obolon|         5100|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|  20100|    fc-vestsjaelland|    FC Vestsjaelland|                    DK1|         0|       NULL|                0|                 NULL|                    0|        Harboe Arena|        10000|                +-0|      NULL|       2014|../data/raw/trans...|https://www.trans...|
|   3691|           tom-tomsk|           Tom Tomsk|                    RU1|         0|       NULL|                0|                 NULL|                    0|                Trud|        10028|                +-0|      NULL|       2016|../data/raw/trans...|https://www.trans...|
|    498|         ksc-lokeren|KSC Lokeren (- 2020)|                    BE1|         0|       NULL|                0|                 NULL|                    0|       Daknamstadion|        12000|                +-0|      NULL|       2018|../data/raw/trans...|https://www.trans...|
|    524|       gaziantepspor|Gaziantepspor (- ...|                    TR1|         0|       NULL|                0|                 NULL|                    0|  Gaziantep Stadyumu|        33502|                +-0|      NULL|       2016|../data/raw/trans...|https://www.trans...|
|    976|    cf-uniao-madeira|CF Uni√£o Madeira ...|                    PO1|         0|       NULL|                0|                 NULL|                    0|Centro Desportivo...|         2500|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|  11126|    mordovia-saransk|Mordovia Saransk ...|                    RU1|         0|       NULL|                0|                 NULL|                    0|      Mordovia Arena|        44442|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|  12438|volga-nizhniy-nov...|Volga Nizhniy Nov...|                    RU1|         0|       NULL|                0|                 NULL|                    0|Zentralstadion Lo...|        17856|                +-0|      NULL|       2013|../data/raw/trans...|https://www.trans...|
|   3336|     desportivo-aves|Desportivo Aves (...|                    PO1|         0|       NULL|                0|                 NULL|                    0| Est√°dio CD das Aves|         5441|                +-0|      NULL|       2019|../data/raw/trans...|https://www.trans...|
|   6414|    metalist-kharkiv|Metalist Kharkiv ...|                   UKR1|         0|       NULL|                0|                 NULL|                    0|        OSK Metalist|        38685|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|   6993|         fk-mariupol|         FK Mariupol|                   UKR1|         0|       NULL|                0|                 NULL|                    0|Stadion im. Volod...|        12680|             +‚Ç¨100k|      NULL|       2021|../data/raw/trans...|https://www.trans...|
|    128|           ao-xanthi|           AO Xanthi|                    GR1|         0|       NULL|                0|                 NULL|                    0|        Xanthi Arena|         7361|                +-0|      NULL|       2019|../data/raw/trans...|https://www.trans...|
|  29228|royal-excel-mouscron|Royal Excel Mousc...|                    BE1|         0|       NULL|                0|                 NULL|                    0|        Le Canonnier|        10830|              +‚Ç¨40k|      NULL|       2020|../data/raw/trans...|https://www.trans...|
+-------+--------------------+--------------------+-----------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [14]:
# Calcular la media de 'average_age' por liga (excluyendo nulos) y redondear a 1 decimal
avg_age_by_league_df = df_clubs.filter(col("average_age").isNotNull()).groupBy("domestic_competition_id").agg(round(avg("average_age"), 1).alias("avg_age_by_league"))

# Unir la nueva columna al dataset
df_clubs = df_clubs.join(avg_age_by_league_df, on="domestic_competition_id", how="left_outer")

# Ver nueva columna
df_clubs.select("domestic_competition_id", "avg_age_by_league").show()

+-----------------------+-----------------+
|domestic_competition_id|avg_age_by_league|
+-----------------------+-----------------+
|                     L1|             25.8|
|                    RU1|             25.9|
|                    TR1|             25.4|
|                    IT1|             25.8|
|                    GB1|             26.1|
|                    BE1|             24.5|
|                    DK1|             24.8|
|                    DK1|             24.8|
|                    NL1|             24.5|
|                    TR1|             25.4|
|                    GR1|             26.4|
|                    GR1|             26.4|
|                    DK1|             24.8|
|                    PO1|             25.6|
|                    SC1|             26.2|
|                     L1|             25.8|
|                    BE1|             24.5|
|                    BE1|             24.5|
|                    PO1|             25.6|
|                    BE1|             24.5|
+-----------------------+-----------------+
only showing top 20 rows

In [15]:
# Sustituir nulos por 'avg_age_by_league'
df_clubs = df_clubs.withColumn(
    "average_age",
    when(col("average_age").isNull(), col("avg_age_by_league")).otherwise(col("average_age"))
)

# Eliminar columna de media por liga
df_clubs = df_clubs.drop("avg_age_by_league")

# Comprobar de nuevo los nulos despues de la sustitucion
df_clubs.filter(col('average_age').isNull()).show()

+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
|domestic_competition_id|club_id|club_code|name|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|filename|url|
+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+

In [16]:
# Ver nulos de la columna 'foreigners_percentage'
df_clubs.filter(col('foreigners_percentage').isNull()).show()

+-----------------------+-------+------------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|domestic_competition_id|club_id|         club_code|                name|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|        stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|            filename|                 url|
+-----------------------+-------+------------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
|                    GR1|  21957|      ao-platanias|        AO Platanias|         0|       26.4|                0|                 NULL|                    0|Dimotiko Gipedo P...|         3700|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|                   UKR1|  60551|       sk-dnipro-1|         SC Dnipro-1|         0|        0.0|                0|                 NULL|                    0|        Dnipro-Arena|        31003|            +‚Ç¨6.90m|      NULL|       2023|../data/raw/trans...|https://www.trans...|
|                   UKR1|   6996|  goverla-uzhgorod|Goverla Uzhgorod ...|         0|       23.8|                0|                 NULL|                    0|            Avangard|        10640|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|                   UKR1|   2477|      karpaty-lviv|Karpaty Lviv (-2021)|         0|       23.8|                0|                 NULL|                    0|     Stadion Ukraina|        28051|                +-0|      NULL|       2019|../data/raw/trans...|https://www.trans...|
|                    RU1|   4128|        amkar-perm|          Amkar Perm|        26|       26.0|                0|                 NULL|                    0|              Zvezda|        17000|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|                    BE1|    566|      beerschot-ac|        Beerschot AC|         0|       24.5|                0|                 NULL|                    0|   Olympisch Stadion|        12771|                +-0|      NULL|       2012|../data/raw/trans...|https://www.trans...|
|                    BE1|   1411|         raec-mons|  RAEC Mons (- 2015)|         0|       24.5|                0|                 NULL|                    0|Stade Charles Ton...|        12662|                +-0|      NULL|       2013|../data/raw/trans...|https://www.trans...|
|                   UKR1|  18105|          pfk-lviv|            PFK Lviv|         3|       18.3|                0|                 NULL|                    0|        Stadion SKIF|         3742|                +-0|      NULL|       2022|../data/raw/trans...|https://www.trans...|
|                    GR1|   5220|      gs-ergotelis|        GS Ergotelis|         3|       23.3|                0|                 NULL|                    0|    Pankritio Stadio|        25780|                +-0|      NULL|       2014|../data/raw/trans...|https://www.trans...|
|                   UKR1|  16239|   desna-chernigiv|     Desna Chernigiv|         0|       23.8|                0|                 NULL|                    0|Stadion im. Yuriy...|        12060|                +-0|      NULL|       2021|../data/raw/trans...|https://www.trans...|
|                    GR1|  28956|       ael-kalloni|         AEL Kalloni|         0|       26.4|                0|                 NULL|                    0|    Stadio Mytilinis|         4000|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
|                   UKR1|  39097|    fk-obolon-kiew|      FK Obolon Kyiv|        26|       28.1|                0|                 NULL|                    0|        Obolon-Arena|         5103|             +‚Ç¨350k|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|                   UKR1|  16247|pfk-stal-kamyanske|PFK Stal Kamyansk...|         0|       23.8|                0|                 NULL|                    0|              Obolon|         5100|                +-0|      NULL|       2017|../data/raw/trans...|https://www.trans...|
|                    DK1|  20100|  fc-vestsjaelland|    FC Vestsjaelland|         0|       24.8|                0|                 NULL|                    0|        Harboe Arena|        10000|                +-0|      NULL|       2014|../data/raw/trans...|https://www.trans...|
|                    TR1|   2323|          orduspor|            Orduspor|         3|       20.0|                0|                 NULL|                    0|    19 Eyl√ºl Stadyum|        11024|                +-0|      NULL|       2012|../data/raw/trans...|https://www.trans...|
|                    RU1|   3691|         tom-tomsk|           Tom Tomsk|         0|       25.9|                0|                 NULL|                    0|                Trud|        10028|                +-0|      NULL|       2016|../data/raw/trans...|https://www.trans...|
|                   UKR1|  49364|  ingulets-petrove| FC Ingulets Petrove|        25|       23.3|                0|                 NULL|                    0|    Stadion Ingulets|         1869|                +-0|      NULL|       2024|../data/raw/trans...|https://www.trans...|
|                    BE1|    498|       ksc-lokeren|KSC Lokeren (- 2020)|         0|       24.5|                0|                 NULL|                    0|       Daknamstadion|        12000|                +-0|      NULL|       2018|../data/raw/trans...|https://www.trans...|
|                    TR1|    524|     gaziantepspor|Gaziantepspor (- ...|         0|       25.4|                0|                 NULL|                    0|  Gaziantep Stadyumu|        33502|                +-0|      NULL|       2016|../data/raw/trans...|https://www.trans...|
|                    PO1|    976|  cf-uniao-madeira|CF Uni√£o Madeira ...|         0|       25.6|                0|                 NULL|                    0|Centro Desportivo...|         2500|                +-0|      NULL|       2015|../data/raw/trans...|https://www.trans...|
+-----------------------+-------+------------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [17]:
# Calcular la media de 'foreigners_percentage' por liga (excluyendo nulos) y redondear a 1 decimal
avg_foreigners_percentage_df = df_clubs.filter(col("foreigners_percentage").isNotNull()).groupBy("domestic_competition_id").agg(round(avg("foreigners_percentage"), 1).alias("avg_foreigners_percentage_by_league"))

# Unir la nueva columna al dataset
df_clubs = df_clubs.join(avg_foreigners_percentage_df, on="domestic_competition_id", how="left_outer")

# Ver nueva columna
df_clubs.select("domestic_competition_id", "avg_foreigners_percentage_by_league").show()

+-----------------------+-----------------------------------+
|domestic_competition_id|avg_foreigners_percentage_by_league|
+-----------------------+-----------------------------------+
|                     L1|                               46.7|
|                    RU1|                               32.0|
|                    TR1|                               34.7|
|                    IT1|                               50.6|
|                    GB1|                               61.2|
|                    BE1|                               59.5|
|                    DK1|                               42.3|
|                    DK1|                               42.3|
|                    NL1|                               42.6|
|                    TR1|                               34.7|
|                    GR1|                               46.6|
|                    GR1|                               46.6|
|                    DK1|                               42.3|
|                    PO1|                               54.8|
|                    SC1|                               58.7|
|                     L1|                               46.7|
|                    BE1|                               59.5|
|                    BE1|                               59.5|
|                    PO1|                               54.8|
|                    BE1|                               59.5|
+-----------------------+-----------------------------------+
only showing top 20 rows

In [18]:
# Sustituir nulos por 'avg_foreigners_percentage_by_league'
df_clubs = df_clubs.withColumn(
    "foreigners_percentage",
    when(col("foreigners_percentage").isNull(), col("avg_foreigners_percentage_by_league")).otherwise(col("foreigners_percentage"))
)

# Eliminar tabla de media por liga
df_clubs = df_clubs.drop("avg_foreigners_percentage_by_league")

# Comprobar de nuevo los nulos despues de la sustitucion
contar_nulos_por_columna(df_clubs).show()

+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
|domestic_competition_id|club_id|club_code|name|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|stadium_name|stadium_seats|net_transfer_record|coach_name|last_season|filename|url|
+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+
|                      0|      0|        0|   0|         0|          0|                0|                    0|                    0|           0|            0|                  0|       439|          0|       0|  0|
+-----------------------+-------+---------+----+----------+-----------+-----------------+---------------------+---------------------+------------+-------------+-------------------+----------+-----------+--------+---+

In [19]:
# Eliminamos las columnas 'filename' y 'url' porque no son relevantes para nuestro analisis
# Tambien eliminamos la columna 'coach_name' porque esa informacion ya esta en otra tabla
df_clubs = df_clubs.drop("filename", "url", "coach_name")
df_clubs.show(10)

+-----------------------+-------+-----------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+-----------+
|domestic_competition_id|club_id|        club_code|                name|squad_size|average_age|foreigners_number|foreigners_percentage|national_team_players|        stadium_name|stadium_seats|net_transfer_record|last_season|
+-----------------------+-------+-----------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+-----------+
|                     L1|    105|  sv-darmstadt-98|     SV Darmstadt 98|        27|       25.6|               13|                 48.1|                    1|Merck-Stadion am ...|        17810|            +‚Ç¨3.05m|       2023|
|                    RU1|  11127|ural-ekaterinburg|  Ural Yekaterinburg|        30|       26.5|               11|                 36.7|                    3| Yekaterinburg Arena|        23000|             +‚Ç¨880k|       2023|
|                    TR1|    114|besiktas-istanbul|Be≈üikta≈ü Jimnasti...|        30|       26.6|               15|                 50.0|                    8|       Be≈üikta≈ü Park|        42445|           ‚Ç¨-25.26m|       2024|
|                    IT1|     12|           as-rom|Associazione Spor...|        26|       26.3|               18|                 69.2|                   17|    Olimpico di Roma|        70634|           ‚Ç¨-76.90m|       2024|
|                    GB1|    148|tottenham-hotspur|Tottenham Hotspur...|        30|       25.5|               21|                 70.0|                   18|Tottenham Hotspur...|        62850|          ‚Ç¨-120.05m|       2024|
|                    BE1|    157|         kaa-gent|Koninklijke Atlet...|        30|       25.2|               19|                 63.3|                    5|  Planet Group Arena|        20185|            +‚Ç¨5.63m|       2024|
|                    DK1|   1894|      hvidovre-if|         Hvidovre IF|        25|       26.4|                3|                 12.0|                    2|PRO VENTILATION A...|        12000|             +‚Ç¨225k|       2023|
|                    DK1|    190|    fc-kopenhagen|Football Club K√∏b...|        28|       26.1|               19|                 67.9|                    9|              Parken|        38065|           +‚Ç¨35.06m|       2024|
|                    NL1|    192| roda-jc-kerkrade|    Roda JC Kerkrade|        25|       24.0|                9|                 36.0|                    0|Parkstad Limburg ...|        19979|            +‚Ç¨1.30m|       2017|
|                    TR1|  19789| yeni-malatyaspor|    Yeni Malatyaspor|        10|       22.9|                1|                 10.0|                    0|Yeni Malatya Stad...|        25745|             +‚Ç¨778k|       2021|
+-----------------------+-------+-----------------+--------------------+----------+-----------+-----------------+---------------------+---------------------+--------------------+-------------+-------------------+-----------+
only showing top 10 rows

# Archivo "competitions.csv"

In [20]:
# Cargar el csv
df_competitions = spark.read.csv(path+"/competitions.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_competitions.show(10)
df_competitions.printSchema()
df_competitions.columns

+--------------+--------------------+--------------------+------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+
|competition_id|    competition_code|                name|          sub_type|             type|country_id|country_name|domestic_league_code|confederation|                 url|is_major_national_league|
+--------------+--------------------+--------------------+------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+
|           CIT|           italy-cup|           italy-cup|      domestic_cup|     domestic_cup|        75|       Italy|                 IT1|       europa|https://www.trans...|                   false|
|          NLSC|johan-cruijff-schaal|johan-cruijff-schaal|domestic_super_cup|            other|       122| Netherlands|                 NL1|       europa|https://www.trans...|                   false|
|           GRP|     kypello-elladas|     kypello-elladas|      domestic_cup|     domestic_cup|        56|      Greece|                 GR1|       europa|https://www.trans...|                   false|
|          POSU|supertaca-candido...|supertaca-candido...|domestic_super_cup|            other|       136|    Portugal|                 PO1|       europa|https://www.trans...|                   false|
|          RUSS|   russian-super-cup|   russian-super-cup|domestic_super_cup|            other|       141|      Russia|                 RU1|       europa|https://www.trans...|                   false|
|           SUC|           supercopa|           supercopa|domestic_super_cup|            other|       157|       Spain|                 ES1|       europa|https://www.trans...|                   false|
|           USC|      uefa-super-cup|      uefa-super-cup|    uefa_super_cup|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|           DK1|         superligaen|         superligaen|        first_tier|  domestic_league|        39|     Denmark|                 DK1|       europa|https://www.trans...|                   false|
|            EL|       europa-league|       europa-league|     europa_league|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|           ES1|              laliga|              laliga|        first_tier|  domestic_league|       157|       Spain|                 ES1|       europa|https://www.trans...|                    true|
+--------------+--------------------+--------------------+------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+
only showing top 10 rows
root
 |-- competition_id: string (nullable = true)
 |-- competition_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sub_type: string (nullable = true)
 |-- type: string (nullable = true)
 |-- country_id: integer (nullable = true)
 |-- country_name: string (nullable = true)
 |-- domestic_league_code: string (nullable = true)
 |-- confederation: string (nullable = true)
 |-- url: string (nullable = true)
 |-- is_major_national_league: boolean (nullable = true)

['competition_id',
 'competition_code',
 'name',
 'sub_type',
 'type',
 'country_id',
 'country_name',
 'domestic_league_code',
 'confederation',
 'url',
 'is_major_national_league']

In [21]:
mostrar_sumario(df_competitions).show()

+-------+--------------+-------------------+-------------------+--------------+------------+-----------------+------------+--------------------+-------------+--------------------+
|summary|competition_id|   competition_code|               name|      sub_type|        type|       country_id|country_name|domestic_league_code|confederation|                 url|
+-------+--------------+-------------------+-------------------+--------------+------------+-----------------+------------+--------------------+-------------+--------------------+
|  count|            44|                 44|                 44|            44|          44|               44|          36|                  36|           44|                  44|
|   mean|          NULL|               NULL|               NULL|          NULL|        NULL|94.86363636363636|        NULL|                NULL|         NULL|                NULL|
| stddev|          NULL|               NULL|               NULL|          NULL|        NULL|70.51887126914322|        NULL|                NULL|         NULL|                NULL|
|    min|           BE1|        allianz-cup|        allianz-cup|  domestic_cup|domestic_cup|               -1|     Belgium|                 BE1|       europa|https://www.trans...|
|    25%|          NULL|               NULL|               NULL|          NULL|        NULL|               39|        NULL|                NULL|         NULL|                NULL|
|    50%|          NULL|               NULL|               NULL|          NULL|        NULL|               75|        NULL|                NULL|         NULL|                NULL|
|    75%|          NULL|               NULL|               NULL|          NULL|        NULL|              157|        NULL|                NULL|         NULL|                NULL|
|    max|           USC|ukrainian-super-cup|ukrainian-super-cup|uefa_super_cup|       other|              190|     Ukraine|                UKR1|       europa|https://www.trans...|
+-------+--------------+-------------------+-------------------+--------------+------------+-----------------+------------+--------------------+-------------+--------------------+

In [22]:
contar_nulos_por_columna(df_competitions).show()

+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+
|competition_id|competition_code|name|sub_type|type|country_id|country_name|domestic_league_code|confederation|url|is_major_national_league|
+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+
|             0|               0|   0|       0|   0|         0|           8|                   8|            0|  0|                       0|
+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+

In [23]:
duplicados_por_columna(df_competitions, "competition_id")

+--------------+-----+
|competition_id|count|
+--------------+-----+
+--------------+-----+

In [24]:
# Ver nulos en 'country_name'
df_competitions.filter(col('country_name').isNull()).show()

+--------------+--------------------+--------------------+--------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+
|competition_id|    competition_code|                name|            sub_type|             type|country_id|country_name|domestic_league_code|confederation|                 url|is_major_national_league|
+--------------+--------------------+--------------------+--------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+
|           USC|      uefa-super-cup|      uefa-super-cup|      uefa_super_cup|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|            EL|       europa-league|       europa-league|       europa_league|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|          UCOL|uefa-conference-l...|uefa-conference-l...|uefa_europa_confe...|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|           ELQ|europa-league-qua...|europa-league-qua...|europa_league_qua...|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|          ECLQ|uefa-europa-confe...|uefa-europa-confe...|uefa_europa_confe...|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|            CL|uefa-champions-le...|uefa-champions-le...|uefa_champions_le...|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|          KLUB|        fifa-klub-wm|        fifa-klub-wm| fifa_club_world_cup|            other|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
|           CLQ|uefa-champions-le...|uefa-champions-le...|uefa_champions_le...|international_cup|        -1|        NULL|                NULL|       europa|https://www.trans...|                   false|
+--------------+--------------------+--------------------+--------------------+-----------------+----------+------------+--------------------+-------------+--------------------+------------------------+

In [25]:
# Las filas con 'country_id'= -1 y 'country_name'= null son de competiciones internacionales
# Sustituimos 'country_name' por 'International', 'country_id' por '1' y 'domestic_league_code' por 'INT'
df_competitions = df_competitions.withColumn(
    "country_name",
    when(col("country_id") == -1, "International").otherwise(col("country_name"))
)

df_competitions = df_competitions.withColumn(
    "country_id",
    when(col("country_id") == -1, 1).otherwise(col("country_id"))
)

df_competitions = df_competitions.withColumn(
    "domestic_league_code",
    when(col("country_id") == 1, "INT").otherwise(col("domestic_league_code"))
)

contar_nulos_por_columna(df_competitions).show()

+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+
|competition_id|competition_code|name|sub_type|type|country_id|country_name|domestic_league_code|confederation|url|is_major_national_league|
+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+
|             0|               0|   0|       0|   0|         0|           0|                   0|            0|  0|                       0|
+--------------+----------------+----+--------+----+----------+------------+--------------------+-------------+---+------------------------+

In [26]:
# Eliminar la columna 'url' porque no es relevante para nuestro analisis
df_competitions = df_competitions.drop("url")
df_competitions.show()

+--------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+--------------------+-------------+------------------------+
|competition_id|    competition_code|                name|            sub_type|             type|country_id| country_name|domestic_league_code|confederation|is_major_national_league|
+--------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+--------------------+-------------+------------------------+
|           CIT|           italy-cup|           italy-cup|        domestic_cup|     domestic_cup|        75|        Italy|                 IT1|       europa|                   false|
|          NLSC|johan-cruijff-schaal|johan-cruijff-schaal|  domestic_super_cup|            other|       122|  Netherlands|                 NL1|       europa|                   false|
|           GRP|     kypello-elladas|     kypello-elladas|        domestic_cup|     domestic_cup|        56|       Greece|                 GR1|       europa|                   false|
|          POSU|supertaca-candido...|supertaca-candido...|  domestic_super_cup|            other|       136|     Portugal|                 PO1|       europa|                   false|
|          RUSS|   russian-super-cup|   russian-super-cup|  domestic_super_cup|            other|       141|       Russia|                 RU1|       europa|                   false|
|           SUC|           supercopa|           supercopa|  domestic_super_cup|            other|       157|        Spain|                 ES1|       europa|                   false|
|           USC|      uefa-super-cup|      uefa-super-cup|      uefa_super_cup|international_cup|         1|International|                 INT|       europa|                   false|
|           DK1|         superligaen|         superligaen|          first_tier|  domestic_league|        39|      Denmark|                 DK1|       europa|                   false|
|            EL|       europa-league|       europa-league|       europa_league|international_cup|         1|International|                 INT|       europa|                   false|
|           ES1|              laliga|              laliga|          first_tier|  domestic_league|       157|        Spain|                 ES1|       europa|                    true|
|           FR1|             ligue-1|             ligue-1|          first_tier|  domestic_league|        50|       France|                 FR1|       europa|                    true|
|           IT1|             serie-a|             serie-a|          first_tier|  domestic_league|        75|        Italy|                 IT1|       europa|                    true|
|           NL1|          eredivisie|          eredivisie|          first_tier|  domestic_league|       122|  Netherlands|                 NL1|       europa|                   false|
|           RUP|         russian-cup|         russian-cup|        domestic_cup|     domestic_cup|       141|       Russia|                 RU1|       europa|                   false|
|           PO1|  liga-portugal-bwin|  liga-portugal-bwin|          first_tier|  domestic_league|       136|     Portugal|                 PO1|       europa|                   false|
|          BESC|    belgian-supercup|    belgian-supercup|  domestic_super_cup|            other|        19|      Belgium|                 BE1|       europa|                   false|
|           GB1|      premier-league|      premier-league|          first_tier|  domestic_league|       189|      England|                 GB1|       europa|                    true|
|          UCOL|uefa-conference-l...|uefa-conference-l...|uefa_europa_confe...|international_cup|         1|International|                 INT|       europa|                   false|
|           ELQ|europa-league-qua...|europa-league-qua...|europa_league_qua...|international_cup|         1|International|                 INT|       europa|                   false|
|           CGB|             efl-cup|             efl-cup|          league_cup|            other|       189|      England|                 GB1|       europa|                   false|
+--------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+--------------------+-------------+------------------------+
only showing top 20 rows

# Archivo "game_events.csv"

In [27]:
# Cargar el csv
df_game_events = spark.read.csv(path+"/game_events.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_game_events.show(10)
df_game_events.printSchema()
df_game_events.columns

+--------------------+----------+-------+------+-------------+-------+---------+--------------------+------------+----------------+
|       game_event_id|      date|game_id|minute|         type|club_id|player_id|         description|player_in_id|player_assist_id|
+--------------------+----------+-------+------+-------------+-------+---------+--------------------+------------+----------------+
|2f41da30c471492e7...|2012-08-05|2211607|    77|        Cards|    610|     4425|1. Yellow card  ,...|        NULL|            NULL|
|a72f7186d132775f2...|2012-08-05|2211607|    77|        Cards|    383|    33210|1. Yellow card  ,...|        NULL|            NULL|
|b2d721eaed4692a5c...|2012-08-05|2211607|     3|        Goals|    383|    36500|, Header, 1. Tour...|        NULL|           56416|
|aef768899cedac0c9...|2012-08-05|2211607|    53|        Goals|    383|    36500|, Right-footed sh...|        NULL|          146258|
|5d6d9533023057b66...|2012-08-05|2211607|    74|Substitutions|    383|    36500|      , Not reported|       49499|            NULL|
|eef9c46dd75c3aa4c...|2012-08-05|2211607|    11|        Goals|    383|    38497|, Right-footed sh...|        NULL|           33210|
|5d5aef7dedcd5dc9d...|2012-08-05|2211607|    90|        Cards|    610|    42710|      1. Yellow card|        NULL|            NULL|
|7717860e3b0376b86...|2012-08-05|2211607|    44|        Goals|    610|    42710|, Header, 1. Tour...|        NULL|            4425|
|02c708273f4fa2003...|2012-08-05|2211607|    79|        Cards|    610|    45509|      1. Yellow card|        NULL|            NULL|
|d1be2ce4bd5f0ca09...|2012-08-05|2211607|    90|        Goals|    383|    49499|, Right-footed sh...|        NULL|          167850|
+--------------------+----------+-------+------+-------------+-------+---------+--------------------+------------+----------------+
only showing top 10 rows
root
 |-- game_event_id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- club_id: integer (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- player_in_id: integer (nullable = true)
 |-- player_assist_id: integer (nullable = true)

['game_event_id',
 'date',
 'game_id',
 'minute',
 'type',
 'club_id',
 'player_id',
 'description',
 'player_in_id',
 'player_assist_id']

In [28]:
mostrar_sumario(df_game_events).show()

+-------+--------------------+------------------+-----------------+-------------+------------------+------------------+--------------------+------------------+-----------------+
|summary|       game_event_id|           game_id|           minute|         type|           club_id|         player_id|         description|      player_in_id| player_assist_id|
+-------+--------------------+------------------+-----------------+-------------+------------------+------------------+--------------------+------------------+-----------------+
|  count|             1035043|           1035043|          1035043|      1035043|           1035043|           1035043|              947716|            497678|           156759|
|   mean|            Infinity|3232166.6426525274|61.82031857613645|         NULL| 4956.375424982344|234649.75911049105|                NULL| 281129.1353606147|211605.5213544358|
| stddev|                 NaN| 680074.1692634815|23.58611694335326|         NULL|11822.249636871984| 212023.8692743104|                NULL|238853.11473006182|194396.3401437962|
|    min|000002a281eef5854...|           2211607|               -1|        Cards|                 1|                10|, 1. Goal of the ...|                10|               10|
|    25%|7.082884527139168E31|           2609666|               46|         NULL|               345|             66005|                NULL|             87143|            59561|
|    50%|7.082884527139168E31|           3203631|               67|         NULL|               987|            175449|                NULL|            216662|           153198|
|    75%|            Infinity|           3840070|               80|         NULL|              3070|            341051|                NULL|            400554|           313396|
|    max|fffffded88d6e7e41...|           4572898|              120|Substitutions|            122422|           1378362|Yellow card  , Wa...|           1390649|          1340495|
+-------+--------------------+------------------+-----------------+-------------+------------------+------------------+--------------------+------------------+-----------------+

In [29]:
contar_nulos_por_columna(df_game_events).show()

+-------------+----+-------+------+----+-------+---------+-----------+------------+----------------+
|game_event_id|date|game_id|minute|type|club_id|player_id|description|player_in_id|player_assist_id|
+-------------+----+-------+------+----+-------+---------+-----------+------------+----------------+
|            0|   0|      0|     0|   0|      0|        0|      87327|      537365|          878284|
+-------------+----+-------+------+----+-------+---------+-----------+------------+----------------+

In [30]:
duplicados_por_columna(df_game_events, "game_event_id")

+-------------+-----+
|game_event_id|count|
+-------------+-----+
+-------------+-----+

In [31]:
# Mostrar los diferentes tipos de eventos
df_game_events.select("type").distinct().show()

+-------------+
|         type|
+-------------+
|        Goals|
|        Cards|
|Substitutions|
|     Shootout|
+-------------+

In [32]:
# Ver nulos de la columna 'description'
df_game_events.filter(col('description').isNull()).show()

+--------------------+----------+-------+------+-------------+-------+---------+-----------+------------+----------------+
|       game_event_id|      date|game_id|minute|         type|club_id|player_id|description|player_in_id|player_assist_id|
+--------------------+----------+-------+------+-------------+-------+---------+-----------+------------+----------------+
|e4d512124476ec941...|2012-08-22|2235964|    81|Substitutions|  10468|   121235|       NULL|      121027|            NULL|
|ac641aeaaf272da2f...|2012-08-22|2235964|    66|Substitutions|  10468|   201284|       NULL|      113699|            NULL|
|9e4d13d444aa9315f...|2013-02-17|2240152|    81|Substitutions|   1465|    17352|       NULL|      125700|            NULL|
|4bc0bb78995d14303...|2013-02-17|2240152|    62|Substitutions|   1301|    24880|       NULL|      237663|            NULL|
|b08ec33cbbcb9be73...|2013-02-17|2240152|    65|Substitutions|   1465|    42303|       NULL|      150535|            NULL|
|2c3f355afc76f8ae2...|2013-02-17|2240152|    83|Substitutions|   1301|    70359|       NULL|      137710|            NULL|
|82450db14bed2ac19...|2013-02-09|2240168|    80|Substitutions|   1465|    17352|       NULL|      125700|            NULL|
|137462efc6fa6837b...|2013-02-09|2240168|    72|Substitutions|   2420|    61764|       NULL|      145692|            NULL|
|bef07e30424d76ab5...|2013-02-09|2240168|    61|Substitutions|   1465|    72835|       NULL|      110078|            NULL|
|c3d0673498c98b399...|2013-02-09|2240168|    57|Substitutions|   2420|   122498|       NULL|      174842|            NULL|
|349906e967cce93b5...|2013-02-10|2240172|    58|Substitutions|   2424|    23265|       NULL|       32567|            NULL|
|8cded27c84db7eebd...|2013-02-10|2240172|    28|Substitutions|   1085|    33739|       NULL|       25175|            NULL|
|405a52802873b09f6...|2013-02-10|2240172|    81|Substitutions|   1085|   112985|       NULL|        5518|            NULL|
|ec4ce9b48ddcf6e31...|2013-02-10|2240172|    62|Substitutions|   2424|   204453|       NULL|      124286|            NULL|
|1efa86f7cf91e9a4e...|2012-08-22|2240524|    72|Substitutions|   2821|   327021|       NULL|      327025|            NULL|
|71623922e95dfda9b...|2012-08-22|2240524|    87|Substitutions|   2821|   327028|       NULL|      327037|            NULL|
|db1d488ab901c7c8c...|2012-08-22|2240524|    68|Substitutions|   2821|   327031|       NULL|      327029|            NULL|
|92c536d8a2534c6a4...|2012-08-04|2253909|    78|Substitutions|  15374|    18914|       NULL|      167889|            NULL|
|20664a970277c5230...|2012-08-04|2253909|    70|Substitutions|  15374|    61789|       NULL|      249590|            NULL|
|2767ee42b2d092737...|2012-08-04|2253909|    77|Substitutions|   4031|   160882|       NULL|      497168|            NULL|
+--------------------+----------+-------+------+-------------+-------+---------+-----------+------------+----------------+
only showing top 20 rows

In [33]:
# Ver valores unicos de 'description'
df_game_events.select("description").distinct().show(truncate=False)

+------------------------------------------------------------------------------------------+
|description                                                                               |
+------------------------------------------------------------------------------------------+
|, Own-goal Assist: , Header, 3. Assist of the Season                                      |
|, Header, 12. Goal of the Season Assist: , Cross, 3. Assist of the Season                 |
|, Header, 9. Goal of the Season Assist: , Shot on goal, 7. Assist of the Season           |
|, Right-footed shot, 13. Goal of the Season Assist: , Pass, 11. Assist of the Season      |
|, Header, 10. Goal of the Season Assist: , Cross, 3. Assist of the Season                 |
|, Left-footed shot, 9. Goal of the Season Assist: , Cross, 5. Assist of the Season        |
|, Tap-in, 1. Goal of the Season Assist: , Pass, 1. Assist of the Season                   |
|, Tap-in, 3. Goal of the Season Assist: , Header, 3. Assist of the Season                 |
|, Right-footed shot, 1. Goal of the Season Assist: , Shot on goal, 5. Assist of the Season|
|4. Yellow card  , Mass confrontation                                                      |
|, Right-footed shot, 1. Tournament Goal Assist: , Free kick, 1. Tournament Assist         |
|12. Yellow card  , Shooting ball                                                          |
|, Direct free kick, 1. Goal of the Season Assist:                                         |
|, Tap-in, 2. Goal of the Season Assist: , Free kick, 9. Assist of the Season              |
|, Header, 3. Goal of the Season Assist:                                                   |
|, Left-footed shot, 6. Goal of the Season Assist: , Corner, 1. Assist of the Season       |
|, Header, 2. Goal of the Season Assist: , Free kick, 4. Assist of the Season              |
|, Right-footed shot, 12. Goal of the Season Assist: , Pass, 4. Assist of the Season       |
|, Left-footed shot, 4. Goal of the Season Assist: , Cross, 3. Assist of the Season        |
|, Deflected shot on goal, 5. Goal of the Season Assist: , Pass, 7. Assist of the Season   |
+------------------------------------------------------------------------------------------+
only showing top 20 rows

In [34]:
# Debido a la gran cantidad de valores nulos y formatos confusos,
# consideramos que es mejor eliminar la columna 'description', pues ya tenemos el tipo de jugada en la columna 'type'
df_game_events = df_game_events.drop("description")
df_game_events.show()

+--------------------+----------+-------+------+-------------+-------+---------+------------+----------------+
|       game_event_id|      date|game_id|minute|         type|club_id|player_id|player_in_id|player_assist_id|
+--------------------+----------+-------+------+-------------+-------+---------+------------+----------------+
|2f41da30c471492e7...|2012-08-05|2211607|    77|        Cards|    610|     4425|        NULL|            NULL|
|a72f7186d132775f2...|2012-08-05|2211607|    77|        Cards|    383|    33210|        NULL|            NULL|
|b2d721eaed4692a5c...|2012-08-05|2211607|     3|        Goals|    383|    36500|        NULL|           56416|
|aef768899cedac0c9...|2012-08-05|2211607|    53|        Goals|    383|    36500|        NULL|          146258|
|5d6d9533023057b66...|2012-08-05|2211607|    74|Substitutions|    383|    36500|       49499|            NULL|
|eef9c46dd75c3aa4c...|2012-08-05|2211607|    11|        Goals|    383|    38497|        NULL|           33210|
|5d5aef7dedcd5dc9d...|2012-08-05|2211607|    90|        Cards|    610|    42710|        NULL|            NULL|
|7717860e3b0376b86...|2012-08-05|2211607|    44|        Goals|    610|    42710|        NULL|            4425|
|02c708273f4fa2003...|2012-08-05|2211607|    79|        Cards|    610|    45509|        NULL|            NULL|
|d1be2ce4bd5f0ca09...|2012-08-05|2211607|    90|        Goals|    383|    49499|        NULL|          167850|
|f0dfb41b779ad8efb...|2012-08-05|2211607|    76|Substitutions|    610|    52246|      182932|            NULL|
|06d75371c9a8f3a8d...|2012-08-05|2211607|    75|        Goals|    610|    52920|        NULL|          124891|
|6ab3a43a37e3b264d...|2012-08-05|2211607|    37|        Cards|    383|    68864|        NULL|            NULL|
|e67340caefbf1cbe1...|2012-08-05|2211607|    84|Substitutions|    383|    72462|      167850|            NULL|
|ac69368250666fd5e...|2012-08-05|2211607|    65|Substitutions|    610|    95755|       34784|            NULL|
|874987f117bca7459...|2012-08-05|2211607|    -1|        Cards|    610|   124883|        NULL|            NULL|
|c7273eb67de6f9ba9...|2012-08-05|2211607|    31|        Cards|    610|   187245|        NULL|            NULL|
|584282a7024a5a6da...|2012-08-05|2211607|    76|Substitutions|    610|   187245|      111184|            NULL|
|ed9bded6064e693d9...|2012-08-11|2218677|    76|        Cards|    506|     2865|        NULL|            NULL|
|fead616bb25013d5c...|2012-08-11|2218677|    89|Substitutions|    506|     2865|       56703|            NULL|
+--------------------+----------+-------+------+-------------+-------+---------+------------+----------------+
only showing top 20 rows

Los valores vac√≠os en las columnas 'player_in_id' y 'player_assist_id' tienen sentido ya que dependen del tipo de evento; si el evento es 'Substitutions', s√≥lo hace falta el 'player_in_id'; si el evento es 'Goals', s√≥lo hace falta el 'player_assist_id'.

# Archivo "game_lineups.csv"

In [35]:
# Este archivo tiene problemas cargando el esquema, decidimos crear un esquema personalizado para este archivo
custom_schema = StructType([
    StructField("game_lineups_id", StringType(), True),
    StructField("date", DateType(), True),
    StructField("game_id", IntegerType(), True),
    StructField("player_id", IntegerType(), True),
    StructField("club_id", IntegerType(), True),
    StructField("player_name", StringType(), True),
    StructField("type", StringType(), True),
    StructField("position", StringType(), True),
    StructField("number", StringType(), True),
    StructField("team_captain", IntegerType(), True)
])
# Cargar el csv
df_game_lineups = spark.read.csv(path+"/game_lineups.csv", header=True, schema=custom_schema)

# Ver las primeras filas
df_game_lineups.show(10)
df_game_lineups.printSchema()
df_game_lineups.columns

+--------------------+----------+-------+---------+-------+-----------------+---------------+------------------+------+------------+
|     game_lineups_id|      date|game_id|player_id|club_id|      player_name|           type|          position|number|team_captain|
+--------------------+----------+-------+---------+-------+-----------------+---------------+------------------+------+------------+
|b2dbe01c3656b06c8...|2013-07-27|2317258|     1443|    610|Christian Poulsen|    substitutes|Defensive Midfield|     5|           0|
|b50a3ec6d52fd1490...|2013-07-27|2317258|     5017|    610| Niklas Moisander|starting_lineup|       Centre-Back|     4|           0|
|7d890e6d0ff8af84b...|2013-07-27|2317258|     9602|   1090|  Maarten Martens|    substitutes|       Left Winger|    11|           0|
|8c355268678b9bbc7...|2013-07-27|2317258|    12282|    610|      Daley Blind|starting_lineup|         Left-Back|    17|           0|
|76193074d549e5fdc...|2013-07-27|2317258|    25427|   1090|      Roy Beerens|starting_lineup|      Right Winger|    23|           0|
|e5684d3b01123e27e...|2013-07-27|2317258|    28815|   1090|      Jan Wuytens|starting_lineup|       Centre-Back|    29|           0|
|d196e3ec2f03110a5...|2013-07-27|2317258|    30290|    610|  Kenneth Vermeer|starting_lineup|        Goalkeeper|     1|           0|
|e9e1212e3ba0dabdf...|2013-07-27|2317258|    34784|    610|     Lasse Sch√∂ne|starting_lineup|Defensive Midfield|    20|           0|
|53ca254113ffc1b2f...|2013-07-27|2317258|    36391|   1090|       Viktor Elm|starting_lineup|Defensive Midfield|    12|           0|
|03fe553a31b7cc907...|2013-07-27|2317258|    42266|   1090|   Yves De Winter|    substitutes|        Goalkeeper|    16|           0|
+--------------------+----------+-------+---------+-------+-----------------+---------------+------------------+------+------------+
only showing top 10 rows
root
 |-- game_lineups_id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- club_id: integer (nullable = true)
 |-- player_name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- position: string (nullable = true)
 |-- number: string (nullable = true)
 |-- team_captain: integer (nullable = true)

['game_lineups_id',
 'date',
 'game_id',
 'player_id',
 'club_id',
 'player_name',
 'type',
 'position',
 'number',
 'team_captain']

In [36]:
mostrar_sumario(df_game_lineups).show()

+-------+--------------------+------------------+------------------+------------------+-----------+---------------+--------+------------------+-------------------+
|summary|     game_lineups_id|           game_id|         player_id|           club_id|player_name|           type|position|            number|       team_captain|
+-------+--------------------+------------------+------------------+------------------+-----------+---------------+--------+------------------+-------------------+
|  count|             2285289|           2191911|           2191911|           2191911|    2191911|        2191911| 2191908|           2191911|            2145222|
|   mean|8.497272360538228E48| 3079740.595638235|213736.30504979444| 4394.989995031732|       NULL|           NULL|    NULL| 20.89627818164177|0.04718579242614517|
| stddev|1.833895644341363...|511107.19825176045|188289.50989901272|10173.590350246237|       NULL|           NULL|    NULL|19.952314721741896|0.21203611573773506|
|    min|                   -|           2317258|                10|                 1|  ? Broutas|starting_lineup|  Attack|                 "|                  0|
|    25%|                 8.0|           2611308|             62920|               339|       NULL|           NULL|    NULL|               8.0|                  0|
|    50%|                18.0|           3063684|            163401|               985|       NULL|           NULL|    NULL|              16.0|                  0|
|    75%|                28.0|           3484182|            312407|              2999|       NULL|           NULL|    NULL|              26.0|                  0|
|    max|fffffe7eb72e4d576...|           4300789|           1244435|            102251|Œëbdul Razak|    substitutes|midfield|                99|                  1|
+-------+--------------------+------------------+------------------+------------------+-----------+---------------+--------+------------------+-------------------+

In [37]:
contar_nulos_por_columna(df_game_lineups).show()

+---------------+-----+-------+---------+-------+-----------+-----+--------+------+------------+
|game_lineups_id| date|game_id|player_id|club_id|player_name| type|position|number|team_captain|
+---------------+-----+-------+---------+-------+-----------+-----+--------+------+------------+
|              0|93378|  93378|    93378|  93378|      93378|93378|   93381| 93378|      140067|
+---------------+-----+-------+---------+-------+-----------+-----+--------+------+------------+

In [38]:
duplicados_por_columna(df_game_lineups, "game_lineups_id")

+--------------------+-----+
|game_lineups_id     |count|
+--------------------+-----+
|                  77|401  |
|                  92|55   |
|                  91|132  |
|                  96|18   |
|                  74|37   |
|                  45|217  |
|                  69|57   |
|                  99|386  |
|                  68|40   |
|                  54|79   |
|                  29|799  |
|                  26|700  |
|                  55|195  |
|                  37|341  |
|                  17|1430 |
|                  24|880  |
|                  44|369  |
|                  90|149  |
|                  38|262  |
|                  63|59   |
+--------------------+-----+
only showing top 20 rows

In [39]:
from pyspark.sql.functions import trim

df_game_lineups.filter(trim(col("game_lineups_id")) == "77").show()

+--------------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|     game_lineups_id|date|game_id|player_id|club_id|player_name|type|position|number|team_captain|
+--------------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
|                  77|NULL|   NULL|     NULL|   NULL|       NULL|NULL|    NULL|  NULL|        NULL|
+--------------------+----+-------+---------+-------+-----------+----+--------+------+------------+
only showing top 20 rows

In [40]:
# Parece que algunas filas se introdujeron incorrectamente y no tienen valores
# Eliminaremos esas filas

duplicated_ids_df = df_game_lineups.groupBy("game_lineups_id").count().filter(col("count") > 1).select("game_lineups_id")

# Convertir el DataFrame de IDs duplicados a una lista de strings
# Esto es necesario para usarlo en una operacion de filtrado
duplicated_ids_list = [row.game_lineups_id for row in duplicated_ids_df.collect()]

# Eliminar las filas con IDs duplicados del DataFrame original
df_game_lineups_cleaned = df_game_lineups.filter(~col("game_lineups_id").isin(duplicated_ids_list))

# Mostrar el conteo de filas antes y despues para verificar la eliminacion
print(f"Filas antes de eliminar duplicados: {df_game_lineups.count()}")
print(f"Filas despues de eliminar duplicados: {df_game_lineups_cleaned.count()}")

Filas antes de eliminar duplicados: 2285289
Filas despues de eliminar duplicados: 2191911

In [41]:
# Ver nulos despues de eliminar duplicados
contar_nulos_por_columna(df_game_lineups_cleaned).show()

+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|game_lineups_id|date|game_id|player_id|club_id|player_name|type|position|number|team_captain|
+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|              0|   0|      0|        0|      0|          0|   0|       3|     0|       46689|
+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+

In [42]:
# Ver nulos de la columna 'team_captain'
df_game_lineups_cleaned.filter(col('team_captain').isNull()).show()

+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|     game_lineups_id|      date|game_id|player_id|club_id|         player_name|           type|          position|number|team_captain|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|4615138f1f610cad5...|2024-02-18|4090243|    23523|    206|    Thomas Mikkelsen|    substitutes|        Goalkeeper|     "|        NULL|
|6e93292ea722d3665...|2024-02-18|4090243|    48870|    865|         Jonas L√∂ssl|starting_lineup|        Goalkeeper|     "|        NULL|
|b010f792720e1c3cd...|2024-02-18|4090243|    63463|    206|         Daniel Wass|starting_lineup|  Central Midfield|     "|        NULL|
|e5751e0f3439a7a57...|2024-02-18|4090243|    68983|    206|        Kevin Mensah|    substitutes|        Right-Back|     "|        NULL|
|f886eb307ccf0a92d...|2024-02-18|4090243|    93315|    865|    Henrik Dalsgaard|starting_lineup|        Right-Back|     "|        NULL|
|0b59ec54080a96e7e...|2024-02-18|4090243|   137648|    865|Sverrir Ingi Ingason|starting_lineup|       Centre-Back|     "|        NULL|
|934c1e4672b10a4a4...|2024-02-18|4090243|   160506|    206|     Josip Radosevic|    substitutes|Defensive Midfield|     "|        NULL|
|6f258b4f2e0994863...|2024-02-18|4090243|   169368|    206|      Ohi Omoijuanfo|starting_lineup|    Centre-Forward|     "|        NULL|
|d1eb916336575d637...|2024-02-18|4090243|   218085|    865|         Andr√© R√∂mer|starting_lineup|  Central Midfield|     "|        NULL|
|e42ab9f83aa95b812...|2024-02-18|4090243|   223972|    206|       Patrick Pentz|starting_lineup|        Goalkeeper|     "|        NULL|
|c9834cb7067c505ff...|2024-02-18|4090243|   235355|    865|       Alhaji Kamara|    substitutes|    Centre-Forward|     "|        NULL|
|c9b20f8c2f29d3b4f...|2024-02-18|4090243|   237436|    206|       Mathias Greve|starting_lineup|  Central Midfield|     "|        NULL|
|7e12f0ccd18d2e03c...|2024-02-18|4090243|   268113|    206|        Sean Klaiber|starting_lineup|    Right Midfield|     "|        NULL|
|dd11ab2724d81ec34...|2024-02-18|4090243|   277607|    865|       Martin Fraisl|    substitutes|        Goalkeeper|     "|        NULL|
|397d404f8bc2feeaa...|2024-02-18|4090243|   283233|    206|     Jacob Rasmussen|starting_lineup|       Centre-Back|     "|        NULL|
|7ef1863bd26c2543a...|2024-02-18|4090243|   325994|    206|    Rasmus Lauritsen|starting_lineup|       Centre-Back|     "|        NULL|
|7d981a2438fd72350...|2024-02-18|4090243|   372240|    865|  Mads Bech S√∂rensen|starting_lineup|       Centre-Back|     "|        NULL|
|f86e7aca7400e0696...|2024-02-18|4090243|   383638|    865|             Juninho|    substitutes|    Centre-Forward|     "|        NULL|
|453e6ed9b798d7a46...|2024-02-18|4090243|   499759|    865|     Ola Brynhildsen|starting_lineup|    Centre-Forward|     "|        NULL|
|710a25d73e4cf059e...|2024-02-18|4090243|   514887|    865|         Aral ≈ûim≈üir|starting_lineup|     Left Midfield|     "|        NULL|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
only showing top 20 rows

In [43]:
# ver valores vacios de number
df_game_lineups_cleaned.filter(col('number') == '"').show()

+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|     game_lineups_id|      date|game_id|player_id|club_id|         player_name|           type|          position|number|team_captain|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|4615138f1f610cad5...|2024-02-18|4090243|    23523|    206|    Thomas Mikkelsen|    substitutes|        Goalkeeper|     "|        NULL|
|6e93292ea722d3665...|2024-02-18|4090243|    48870|    865|         Jonas L√∂ssl|starting_lineup|        Goalkeeper|     "|        NULL|
|b010f792720e1c3cd...|2024-02-18|4090243|    63463|    206|         Daniel Wass|starting_lineup|  Central Midfield|     "|        NULL|
|e5751e0f3439a7a57...|2024-02-18|4090243|    68983|    206|        Kevin Mensah|    substitutes|        Right-Back|     "|        NULL|
|f886eb307ccf0a92d...|2024-02-18|4090243|    93315|    865|    Henrik Dalsgaard|starting_lineup|        Right-Back|     "|        NULL|
|0b59ec54080a96e7e...|2024-02-18|4090243|   137648|    865|Sverrir Ingi Ingason|starting_lineup|       Centre-Back|     "|        NULL|
|934c1e4672b10a4a4...|2024-02-18|4090243|   160506|    206|     Josip Radosevic|    substitutes|Defensive Midfield|     "|        NULL|
|6f258b4f2e0994863...|2024-02-18|4090243|   169368|    206|      Ohi Omoijuanfo|starting_lineup|    Centre-Forward|     "|        NULL|
|d1eb916336575d637...|2024-02-18|4090243|   218085|    865|         Andr√© R√∂mer|starting_lineup|  Central Midfield|     "|        NULL|
|e42ab9f83aa95b812...|2024-02-18|4090243|   223972|    206|       Patrick Pentz|starting_lineup|        Goalkeeper|     "|        NULL|
|c9834cb7067c505ff...|2024-02-18|4090243|   235355|    865|       Alhaji Kamara|    substitutes|    Centre-Forward|     "|        NULL|
|c9b20f8c2f29d3b4f...|2024-02-18|4090243|   237436|    206|       Mathias Greve|starting_lineup|  Central Midfield|     "|        NULL|
|7e12f0ccd18d2e03c...|2024-02-18|4090243|   268113|    206|        Sean Klaiber|starting_lineup|    Right Midfield|     "|        NULL|
|dd11ab2724d81ec34...|2024-02-18|4090243|   277607|    865|       Martin Fraisl|    substitutes|        Goalkeeper|     "|        NULL|
|397d404f8bc2feeaa...|2024-02-18|4090243|   283233|    206|     Jacob Rasmussen|starting_lineup|       Centre-Back|     "|        NULL|
|7ef1863bd26c2543a...|2024-02-18|4090243|   325994|    206|    Rasmus Lauritsen|starting_lineup|       Centre-Back|     "|        NULL|
|7d981a2438fd72350...|2024-02-18|4090243|   372240|    865|  Mads Bech S√∂rensen|starting_lineup|       Centre-Back|     "|        NULL|
|f86e7aca7400e0696...|2024-02-18|4090243|   383638|    865|             Juninho|    substitutes|    Centre-Forward|     "|        NULL|
|453e6ed9b798d7a46...|2024-02-18|4090243|   499759|    865|     Ola Brynhildsen|starting_lineup|    Centre-Forward|     "|        NULL|
|710a25d73e4cf059e...|2024-02-18|4090243|   514887|    865|         Aral ≈ûim≈üir|starting_lineup|     Left Midfield|     "|        NULL|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
only showing top 20 rows

In [44]:
from pyspark.sql.functions import col, isnan, trim

# Filtrar valores no num√©ricos (con guiones, letras, vac√≠os, etc.)
df_no_convertibles = df_game_lineups_cleaned.filter(
    ~trim(col("number")).rlike("^[0-9]+$") | col("number").isNull() | isnan(col("number"))
)

df_no_convertibles.select("number").distinct().show(100, truncate=False)

+------+
|number|
+------+
|-     |
|"     |
+------+

In [45]:
# Algunos valores de 'team_captain' estan nulos y 'number' tiene varios vacios
# Sustituimos los nulos de 'team_captain' y los vacios de 'number' por 0
df_game_lineups_cleaned = df_game_lineups_cleaned.withColumn(
    "team_captain",
    when(col("team_captain").isNull(), 0).otherwise(col("team_captain"))
)
from pyspark.sql.functions import col, trim, when

df_game_lineups_cleaned = df_game_lineups_cleaned.withColumn(
    "number",
    when(trim(col("number")).rlike("^[0-9]+$"), col("number").cast("int")).otherwise(0)
)

# Ver nulos de nuevo
contar_nulos_por_columna(df_game_lineups_cleaned).show()

+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|game_lineups_id|date|game_id|player_id|club_id|player_name|type|position|number|team_captain|
+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+
|              0|   0|      0|        0|      0|          0|   0|       3|     0|           0|
+---------------+----+-------+---------+-------+-----------+----+--------+------+------------+

In [46]:
# Ver nulos en la columna 'position'
df_game_lineups_cleaned.filter(col('position').isNull()).show()

+--------------------+----------+-------+---------+-------+----------------+---------------+--------+------+------------+
|     game_lineups_id|      date|game_id|player_id|club_id|     player_name|           type|position|number|team_captain|
+--------------------+----------+-------+---------+-------+----------------+---------------+--------+------+------------+
|efbdeff16a683e068...|2014-08-16|2469561|   336850|  25418|    Shaun Dunion|starting_lineup|    NULL|     0|           0|
|8e0d3d1774f12f52c...|2015-08-26|2597514|   415060|   6601|   Jimmy Theelen|starting_lineup|    NULL|     0|           0|
|22014173b77618f43...|2015-08-26|2597514|   415063|   6601|Bart Zeevenhoven|    substitutes|    NULL|     0|           0|
+--------------------+----------+-------+---------+-------+----------------+---------------+--------+------+------------+

In [47]:
# Sustituir posiciones nulas por 'Unkown'
df_game_lineups_cleaned = df_game_lineups_cleaned.withColumn(
    "position",
    when(col("position").isNull(), "Unknown").otherwise(col("position"))
)
df_game_lineups_cleaned.show()

+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|     game_lineups_id|      date|game_id|player_id|club_id|         player_name|           type|          position|number|team_captain|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
|b2dbe01c3656b06c8...|2013-07-27|2317258|     1443|    610|   Christian Poulsen|    substitutes|Defensive Midfield|     5|           0|
|b50a3ec6d52fd1490...|2013-07-27|2317258|     5017|    610|    Niklas Moisander|starting_lineup|       Centre-Back|     4|           0|
|7d890e6d0ff8af84b...|2013-07-27|2317258|     9602|   1090|     Maarten Martens|    substitutes|       Left Winger|    11|           0|
|8c355268678b9bbc7...|2013-07-27|2317258|    12282|    610|         Daley Blind|starting_lineup|         Left-Back|    17|           0|
|76193074d549e5fdc...|2013-07-27|2317258|    25427|   1090|         Roy Beerens|starting_lineup|      Right Winger|    23|           0|
|e5684d3b01123e27e...|2013-07-27|2317258|    28815|   1090|         Jan Wuytens|starting_lineup|       Centre-Back|    29|           0|
|d196e3ec2f03110a5...|2013-07-27|2317258|    30290|    610|     Kenneth Vermeer|starting_lineup|        Goalkeeper|     1|           0|
|e9e1212e3ba0dabdf...|2013-07-27|2317258|    34784|    610|        Lasse Sch√∂ne|starting_lineup|Defensive Midfield|    20|           0|
|53ca254113ffc1b2f...|2013-07-27|2317258|    36391|   1090|          Viktor Elm|starting_lineup|Defensive Midfield|    12|           0|
|03fe553a31b7cc907...|2013-07-27|2317258|    42266|   1090|      Yves De Winter|    substitutes|        Goalkeeper|    16|           0|
|1412e8a9285378507...|2013-07-27|2317258|    42710|    610|   Toby Alderweireld|starting_lineup|       Centre-Back|     3|           0|
|55159dbf91561a01b...|2013-07-27|2317258|    44675|    610|         Bojan Krkic|starting_lineup|      Right Winger|    11|           0|
|be9fbdcde744131e2...|2013-07-27|2317258|    45509|    610|        Siem de Jong|starting_lineup|Attacking Midfield|    10|           1|
|d25d1f3a4bd28e3b9...|2013-07-27|2317258|    52246|    610|Kolbeinn Sigth√≥rsson|starting_lineup|    Centre-Forward|     9|           0|
|d51bc97b0db40f004...|2013-07-27|2317258|    56534|   1090|        Donny Gorter|    substitutes|         Left-Back|     5|           0|
|ac1c4c90cf314ad3f...|2013-07-27|2317258|    69633|    610|   Christian Eriksen|starting_lineup|  Central Midfield|     8|           0|
|091c126bd4e71488d...|2013-07-27|2317258|    69642|    610|    Nicolai Boilesen|    substitutes|         Left-Back|    15|           0|
|37f4184cf76506a50...|2013-07-27|2317258|    74294|   1090|      Nemanja Gudelj|starting_lineup|  Central Midfield|    27|           0|
|d4c2262dc4bacc63d...|2013-07-27|2317258|    80709|   1090|     Willie Overtoom|    substitutes|Attacking Midfield|    10|           0|
|4c0ba30ea80ef6c58...|2013-07-27|2317258|    81163|    610|        Danny Hoesen|    substitutes|    Centre-Forward|    23|           0|
+--------------------+----------+-------+---------+-------+--------------------+---------------+------------------+------+------------+
only showing top 20 rows

# Archivo "appearances.csv"

In [48]:
# Cargar el csv
df_appearances = spark.read.csv(path + "/appearances.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_appearances.show(10)
df_appearances.printSchema()
df_appearances.columns

+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
| appearance_id|game_id|player_id|player_club_id|player_current_club_id|      date|     player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
| 2231978_38004|2231978|    38004|           853|                   235|2012-07-03|Aur√©lien Joachim|           CLQ|           0|        0|    2|      0|            90|
| 2233748_79232|2233748|    79232|          8841|                  2698|2012-07-05|  Ruslan Abyshov|           ELQ|           0|        0|    0|      0|            90|
| 2234413_42792|2234413|    42792|          6251|                   465|2012-07-05|     Sander Puri|           ELQ|           0|        0|    0|      0|            45|
| 2234418_73333|2234418|    73333|          1274|                  6646|2012-07-05| Vegar Hedenstad|           ELQ|           0|        0|    0|      0|            90|
|2234421_122011|2234421|   122011|           195|                  3008|2012-07-05|Markus Henriksen|           ELQ|           0|        0|    0|      1|            90|
|2234421_146889|2234421|   146889|           195|                  2778|2012-07-05|  Peter Ankersen|           ELQ|           1|        0|    0|      0|            90|
| 2235539_28716|2235539|    28716|           282|                  7185|2012-07-05|    Adi Adilovic|           ELQ|           0|        0|    0|      0|            90|
| 2235539_69445|2235539|    69445|           282|                 19771|2012-07-05|      Ivan Sesar|           ELQ|           1|        0|    0|      1|            90|
| 2235545_19409|2235545|    19409|           317|                   200|2012-07-05|  Willem Janssen|           ELQ|           0|        0|    0|      0|            45|
| 2235545_30003|2235545|    30003|           317|                   317|2012-07-05|      Wout Brama|           ELQ|           0|        0|    0|      0|            90|
+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
only showing top 10 rows
root
 |-- appearance_id: string (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- player_club_id: integer (nullable = true)
 |-- player_current_club_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- player_name: string (nullable = true)
 |-- competition_id: string (nullable = true)
 |-- yellow_cards: integer (nullable = true)
 |-- red_cards: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- assists: integer (nullable = true)
 |-- minutes_played: integer (nullable = true)

['appearance_id',
 'game_id',
 'player_id',
 'player_club_id',
 'player_current_club_id',
 'date',
 'player_name',
 'competition_id',
 'yellow_cards',
 'red_cards',
 'goals',
 'assists',
 'minutes_played']

In [49]:
mostrar_sumario(df_appearances).show()

+-------+--------------+-----------------+------------------+------------------+----------------------+-----------+--------------+-------------------+--------------------+-------------------+-------------------+-----------------+
|summary| appearance_id|          game_id|         player_id|    player_club_id|player_current_club_id|player_name|competition_id|       yellow_cards|           red_cards|              goals|            assists|   minutes_played|
+-------+--------------+-----------------+------------------+------------------+----------------------+-----------+--------------+-------------------+--------------------+-------------------+-------------------+-----------------+
|  count|       1706806|          1706806|           1706806|           1706806|               1706806|    1706800|       1706806|            1706806|             1706806|            1706806|            1706806|          1706806|
|   mean|          NULL|3166096.010632726|209974.54851283625|3138.2895976461296|     3991.235146818092|       NULL|          NULL|0.14723290168888556|0.003783089583701...|0.09589431956531674|0.07549539900844032|69.06124539051304|
| stddev|          NULL|665119.6214195183| 194400.8137060094| 8315.815390318292|    10847.056601033748|       NULL|          NULL|0.36537988452870984| 0.06139039033100314| 0.3309348787594954|0.28556141705005694|29.99313060789702|
|    min|2211607_111184|          2211607|                10|                 1|                    -1|A.J. Soares|           BE1|                  0|                   0|                  0|                  0|                1|
|    25%|          NULL|          2589008|             58396|               289|                   331|       NULL|          NULL|                  0|                   0|                  0|                  0|               45|
|    50%|          NULL|          3080786|            149551|               826|                   903|       NULL|          NULL|                  0|                   0|                  0|                  0|               90|
|    75%|          NULL|          3621600|            306609|              2439|                  2696|       NULL|          NULL|                  0|                   0|                  0|                  0|               90|
|    max|4572898_996897|          4572898|           1380876|            110302|                110302|Œëbdul Razak|           USC|                  2|                   1|                  6|                  6|              148|
+-------+--------------+-----------------+------------------+------------------+----------------------+-----------+--------------+-------------------+--------------------+-------------------+-------------------+-----------------+

In [50]:
contar_nulos_por_columna(df_appearances).show()

+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+
|appearance_id|game_id|player_id|player_club_id|player_current_club_id|date|player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+
|            0|      0|        0|             0|                     0|   0|          6|             0|           0|        0|    0|      0|             0|
+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+

In [51]:
duplicados_por_columna(df_appearances, "appearance_id")

+-------------+-----+
|appearance_id|count|
+-------------+-----+
+-------------+-----+

In [52]:
# Ver nulos de la columna 'player_name'
df_appearances.filter(col('player_name').isNull()).show()

+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+
| appearance_id|game_id|player_id|player_club_id|player_current_club_id|      date|player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+
|3084062_380365|3084062|   380365|         16486|                    -1|2018-09-05|       NULL|           CDR|           1|        0|    0|      0|            90|
|3084059_411294|3084059|   411294|          3302|                    -1|2018-09-11|       NULL|           CDR|           0|        0|    0|      0|            90|
|3084057_255495|3084057|   255495|         11596|                    -1|2018-09-12|       NULL|           CDR|           0|        0|    0|      0|            90|
|3102749_380365|3102749|   380365|         16486|                    -1|2018-09-12|       NULL|           CDR|           0|        0|    0|      0|           120|
|3106648_255495|3106648|   255495|         11596|                    -1|2018-10-17|       NULL|           CDR|           0|        0|    0|      0|            90|
|3118604_411294|3118604|   411294|          3302|                    -1|2018-12-05|       NULL|           CDR|           0|        0|    0|      0|            49|
+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+

In [53]:
# Ver valores en 'player_current_club_id'= -1
df_appearances.filter(col('player_current_club_id') == -1).show()

+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+
| appearance_id|game_id|player_id|player_club_id|player_current_club_id|      date|player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+
|3084062_380365|3084062|   380365|         16486|                    -1|2018-09-05|       NULL|           CDR|           1|        0|    0|      0|            90|
|3084059_411294|3084059|   411294|          3302|                    -1|2018-09-11|       NULL|           CDR|           0|        0|    0|      0|            90|
|3084057_255495|3084057|   255495|         11596|                    -1|2018-09-12|       NULL|           CDR|           0|        0|    0|      0|            90|
|3102749_380365|3102749|   380365|         16486|                    -1|2018-09-12|       NULL|           CDR|           0|        0|    0|      0|           120|
|3106648_255495|3106648|   255495|         11596|                    -1|2018-10-17|       NULL|           CDR|           0|        0|    0|      0|            90|
|3118604_411294|3118604|   411294|          3302|                    -1|2018-12-05|       NULL|           CDR|           0|        0|    0|      0|            49|
+--------------+-------+---------+--------------+----------------------+----------+-----------+--------------+------------+---------+-----+-------+--------------+

In [54]:
# Existen 6 jugadores sin nombre y con 'player_current_club_id'= -1, son los unicos valores con este id
# Creemos que es un fallo y decidimos eliminarlos
df_appearances = df_appearances.filter(col('player_current_club_id') != -1)
# Ver nulos de nuevo
contar_nulos_por_columna(df_appearances).show()
df_appearances.show()

+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+
|appearance_id|game_id|player_id|player_club_id|player_current_club_id|date|player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+
|            0|      0|        0|             0|                     0|   0|          0|             0|           0|        0|    0|      0|             0|
+-------------+-------+---------+--------------+----------------------+----+-----------+--------------+------------+---------+-----+-------+--------------+

+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
| appearance_id|game_id|player_id|player_club_id|player_current_club_id|      date|     player_name|competition_id|yellow_cards|red_cards|goals|assists|minutes_played|
+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
| 2231978_38004|2231978|    38004|           853|                   235|2012-07-03|Aur√©lien Joachim|           CLQ|           0|        0|    2|      0|            90|
| 2233748_79232|2233748|    79232|          8841|                  2698|2012-07-05|  Ruslan Abyshov|           ELQ|           0|        0|    0|      0|            90|
| 2234413_42792|2234413|    42792|          6251|                   465|2012-07-05|     Sander Puri|           ELQ|           0|        0|    0|      0|            45|
| 2234418_73333|2234418|    73333|          1274|                  6646|2012-07-05| Vegar Hedenstad|           ELQ|           0|        0|    0|      0|            90|
|2234421_122011|2234421|   122011|           195|                  3008|2012-07-05|Markus Henriksen|           ELQ|           0|        0|    0|      1|            90|
|2234421_146889|2234421|   146889|           195|                  2778|2012-07-05|  Peter Ankersen|           ELQ|           1|        0|    0|      0|            90|
| 2235539_28716|2235539|    28716|           282|                  7185|2012-07-05|    Adi Adilovic|           ELQ|           0|        0|    0|      0|            90|
| 2235539_69445|2235539|    69445|           282|                 19771|2012-07-05|      Ivan Sesar|           ELQ|           1|        0|    0|      1|            90|
| 2235545_19409|2235545|    19409|           317|                   200|2012-07-05|  Willem Janssen|           ELQ|           0|        0|    0|      0|            45|
| 2235545_30003|2235545|    30003|           317|                   317|2012-07-05|      Wout Brama|           ELQ|           0|        0|    0|      0|            90|
| 2235545_30667|2235545|    30667|           317|                   317|2012-07-05|Robbert Schilder|           ELQ|           0|        0|    2|      1|            90|
| 2235545_34129|2235545|    34129|           317|                  1435|2012-07-05|  Wesley Verhoek|           ELQ|           0|        0|    0|      0|            90|
| 2235545_36139|2235545|    36139|           317|                    36|2012-07-05|     Du≈°an Tadiƒá|           ELQ|           0|        0|    1|      0|            45|
|  2235545_4520|2235545|     4520|           317|                   317|2012-07-05| Peter Wisgerhof|           ELQ|           0|        0|    0|      0|            90|
|  2235545_4582|2235545|     4582|           317|                   317|2012-07-05| Sander Boschker|           ELQ|           0|        0|    0|      0|            90|
| 2235545_47740|2235545|    47740|           317|                  1426|2012-07-05|    Nils R√∂seler|           ELQ|           0|        0|    0|      0|            90|
| 2235545_59631|2235545|    59631|           317|                  6890|2012-07-05|    Nacer Chadli|           ELQ|           0|        0|    0|      3|            45|
| 2235545_60312|2235545|    60312|           317|                  1426|2012-07-05|     Joshua John|           ELQ|           0|        0|    1|      1|            45|
| 2235545_63342|2235545|    63342|           317|                 11282|2012-07-05|       Leroy Fer|           ELQ|           0|        0|    0|      0|            26|
| 2235545_63356|2235545|    63356|           317|                  1304|2012-07-05|    Tim Breukers|           ELQ|           0|        0|    0|      0|            90|
+--------------+-------+---------+--------------+----------------------+----------+----------------+--------------+------------+---------+-----+-------+--------------+
only showing top 20 rows

# Archivo "player_valuations.csv"

In [55]:
# Cargar el csv
df_player_valuations = spark.read.csv("/kaggle/input/player-scores/player_valuations.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_player_valuations.show(10)
df_player_valuations.printSchema()
df_player_valuations.columns

25/06/11 21:29:32 WARN FileStreamSink: Assume no metadata directory. Error while looking for metadata directory in the path: /kaggle/input/player-scores/player_valuations.csv.
java.io.FileNotFoundException: File /kaggle/input/player-scores/player_valuations.csv does not exist
	at org.apache.hadoop.fs.RawLocalFileSystem.deprecatedGetFileStatus(RawLocalFileSystem.java:917)
	at org.apache.hadoop.fs.RawLocalFileSystem.getFileLinkStatusInternal(RawLocalFileSystem.java:1238)
	at org.apache.hadoop.fs.RawLocalFileSystem.getFileStatus(RawLocalFileSystem.java:907)
	at org.apache.hadoop.fs.FilterFileSystem.getFileStatus(FilterFileSystem.java:462)
	at org.apache.spark.sql.execution.streaming.FileStreamSink$.hasMetadata(FileStreamSink.scala:56)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:381)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.org$apache$spark$sql$catalyst$analysis$ResolveDataSource$$loadV1BatchSource(ResolveDataSource.scala:143)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.$anonfun$applyOrElse$2(ResolveDataSource.scala:61)
	at scala.Option.getOrElse(Option.scala:201)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:61)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:416)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:131)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp(AnalysisHelper.scala:112)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp$(AnalysisHelper.scala:111)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:43)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:242)
	at scala.collection.LinearSeqOps.foldLeft(LinearSeq.scala:183)
	at scala.collection.LinearSeqOps.foldLeft$(LinearSeq.scala:179)
	at scala.collection.immutable.List.foldLeft(List.scala:79)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:239)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:231)
	at scala.collection.immutable.List.foreach(List.scala:334)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:231)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:290)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:286)
	at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:234)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:286)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:249)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:201)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:201)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:190)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:280)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:280)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)
	at org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)
	at org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:109)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:58)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:392)
	at org.apache.spark.sql.classic.DataFrameReader.csv(DataFrameReader.scala:259)
	at org.apache.spark.sql.classic.DataFrameReader.csv(DataFrameReader.scala:58)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:840)

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/kaggle/input/player-scores/player_valuations.csv. SQLSTATE: 42K03

In [ ]:
mostrar_sumario(df_player_valuations).show()

In [ ]:
contar_nulos_por_columna(df_player_valuations).show()

In [ ]:
duplicados_por_columna(df_player_valuations, "date")

# Archivo "games.csv"

In [ ]:
# Cargar el csv
df_games = spark.read.csv("/kaggle/input/player-scores/games.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_games.show(10)
df_games.printSchema()
df_games.columns

In [ ]:
mostrar_sumario(df_games).show()

In [ ]:
contar_nulos_por_columna(df_games).show()

In [ ]:
duplicados_por_columna(df_games, "game_id")

In [ ]:
# Ver nulos de la tablas 'home_club_id' y 'away_club_id'
df_games.filter(col('home_club_id').isNull()).show()
df_games.filter(col('away_club_id').isNull()).show()

In [ ]:
# Parece que los partidos sin club_id son de fechas futuras, deberian de eliminarse
df_games = df_games.withColumn('date', to_date(col('date'), 'yyyy-MM-dd')).filter(col('date') <= current_date())
# Ver nulos de nuevo
contar_nulos_por_columna(df_games).show()

In [ ]:
# Ver nulos columnas de 'club_position'
df_games.filter(col('home_club_position').isNull()).show()
df_games.filter(col('away_club_position').isNull()).show()

In [ ]:
# Parece que cuando la competicion es algun tipo de copa, los valores de posicion estan nulos porque las copas no usan ese tipo de ranking

# Convertimos las columnas a string y le a√±adimos un valor 'Sin Ranking' para estos casos
df_games = df_games.withColumn("home_club_position", col("home_club_position").cast(StringType()))
df_games = df_games.withColumn("away_club_position", col("away_club_position").cast(StringType()))

# La logica toma los casos en los que la position sea nulo y la competicion contenga 'cup' sin tener en cuenta mayusculas, o sea de tipo 'other'
df_games = df_games.withColumn(
    "home_club_position",
    when((lower(col("competition_type")).contains("cup") | (col("competition_type") == "other")) & col("home_club_position").isNull(), "Sin Ranking")
    .otherwise(col("home_club_position"))
)
df_games = df_games.withColumn(
    "away_club_position",
    when((lower(col("competition_type")).contains("cup") | (col("competition_type") == "other")) & col("away_club_position").isNull(), "Sin Ranking")
    .otherwise(col("away_club_position"))
)

# Ver nulos despues de la sustitucion
df_games.filter(col('home_club_position').isNull()).show()
df_games.filter(col('away_club_position').isNull()).show()

In [ ]:
# Parece que aun quedan nulos en position que no son de copas
# Sustituimos los valores nulos restantes por 'Unkown'
df_games = df_games.withColumn(
    "home_club_position",
    when(col("home_club_position").isNull(), "Unknown").otherwise(col("home_club_position"))
)
df_games = df_games.withColumn(
    "away_club_position",
    when(col("away_club_position").isNull(), "Unknown").otherwise(col("away_club_position"))
)
# Ver todos los nulos
contar_nulos_por_columna(df_games).show()

In [ ]:
# Sustituir valores nulos en 'home_club_manager_name', 'away_club_manager_name', 'stadium' y 'referee' por 'Unkown'
df_games = df_games.fillna({
    "home_club_manager_name": "Unknown",
    "away_club_manager_name": "Unknown",
    "stadium": "Unknown",
    "referee": "Unknown"
})
# Comprobar de nuevo los nulos despues de la sustitucion
contar_nulos_por_columna(df_games).show()

In [ ]:
# Ver nulos en columnas 'attendance'
df_games.filter(col('attendance').isNull()).show()

In [ ]:
# Sustituir los valores nulos por la capacidad del estadio
# La capacidad del estadio esta en 'df_clubs'
df_clubs_capacity = df_clubs.select("stadium_name", "stadium_seats")

# Unir la nueva columna al dataset
df_games = df_games.join(df_clubs_capacity, df_games.stadium == df_clubs_capacity.stadium_name, "left")

# Mostrar dataframe despues de la union
df_games.show()

In [ ]:
# Rellenar los nulos en 'attendance' usando la capacidad del estadio correspondiente
df_games = df_games.withColumn(
    "attendance",
    when(col("attendance").isNull(), col("stadium_seats")).otherwise(col("attendance"))
)

# Eliminar las columna temporales
df_games = df_games.drop("stadium_name", "stadium_seats")

# Comprobar los nulos en 'attendance' despues de la sustitucion
df_games.filter(col('attendance').isNull()).show()

In [ ]:
# Aun quedan valores nulos en 'attendance', probablemente sean de estadios que tengan de nombre 'Unkown'
# Sustituir esos valores de 'attendance' por 0
df_games = df_games.withColumn(
    "attendance",
    when(col("attendance").isNull(), 0).otherwise(col("attendance"))
)
# Ver nulos en todas las columnas
contar_nulos_por_columna(df_games).show()

In [ ]:
# Ver valores nulos en las columnas de formaciones
df_games.filter(col('home_club_formation').isNull()).show()
df_games.filter(col('away_club_formation').isNull()).show()

In [ ]:
# Ver valores unicos de las columnas de formaciones
df_games.select("home_club_formation").distinct().show(truncate=False)
df_games.select("away_club_formation").distinct().show(truncate=False)

Las columnas de 'home_club_formation' y 'home_club_formation' tienen muchos nulos y no tienen todas el formato correcto.

Decidimos definir una funcion para aplicarles a todas un formato uniforme.

In [ ]:
def formatear_formaciones(column_name):
    """
    Construye una expresion Spark SQL para limpiar, validar el formato, y formatear una columna de formacion,
    reemplazando con "Unknown" si no cumple el formato.
    Explicacion:
      - Limpia caracteres no deseados en los valores (solo admite numeros y guiones).
      - Usa regexp_extract() para verificar el formato: de 3 a 4 digitos separados por guiones.
      - Si el patron coincide, usa la cadena limpiada; de lo contrario, usa "Unknown".
    Args:
        column_name (str): Nombre de la columna a formatear.

    Returns:
        Expresion Spark SQL para formatear la columna.
    """

    cleaned_formation = regexp_replace(col(column_name), "[^0-9-]", "")

    pattern = r"^(\d+)-(\d+)-(\d+)$|^(\d+)-(\d+)-(\d+)-(\d+)$"
    matches_pattern = regexp_extract(cleaned_formation, pattern, 0) != ""

    final_formation = when(matches_pattern, cleaned_formation).otherwise("Unknown")

    return final_formation

In [ ]:
# Aplicar la funcion de formateo
df_games = df_games.withColumn("home_club_formation", formatear_formaciones("home_club_formation"))
df_games = df_games.withColumn("away_club_formation", formatear_formaciones("away_club_formation"))

# Verificar nulos de nuevo
contar_nulos_por_columna(df_games).show()

# Ver si el formato se aplico correctamente
df_games.select("home_club_formation").distinct().show(truncate=False)
df_games.select("away_club_formation").distinct().show(truncate=False)

In [ ]:
# Hay valores nulos en 'home_club_name' y 'away_club_name', como ya tenemos el 'club_id' decidimos eliminar los nombres de esta tabla
df_games = df_games.drop("home_club_name", "away_club_name")
contar_nulos_por_columna(df_games).show()

In [ ]:
# Eliminamos tambien las columnas 'url' y 'aggregate' porque no son relevantes para nuestro analisis
df_games = df_games.drop("url", "aggregate")
df_games.show()

# Archivo "players.csv"

In [ ]:
# Cargar el csv
df_players = spark.read.csv("/kaggle/input/player-scores/players.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_players.show(10)
df_players.printSchema()
df_players.columns

In [ ]:
mostrar_sumario(df_players).show()

In [ ]:
contar_nulos_por_columna(df_players).show()

In [ ]:
duplicados_por_columna(df_players, "player_id")

In [ ]:
# Ver nulos de la columna 'contract_expiration_date'
df_players.filter(col('contract_expiration_date').isNull()).show()

In [ ]:
# Ver valores unicos de la columna 'last_season'
df_players.select('last_season').distinct().show()

In [ ]:
# A primera vista, parece que los valores nulos de la columna 'contract_expiration_date' representan contratos que siguen en vigor
# Pero tras corroborar con Internet, vimos que tambien hay nulos contratos que ya finalizaron
# Decidimos eliminar la columna 'contract_expiration_date' por no tener informacion fiable y tambien la columna 'agent_name' que esta relacionada con ella
df_players = df_players.drop("contract_expiration_date")
df_players = df_players.drop("agent_name")
df_players.show(10)

In [ ]:
# Ver todos los valores de la columna 'foot'
df_players.select('foot').distinct().show()

In [ ]:
# Sustituir valores nulos de 'foot' por 'sin especificar'
df_players = df_players.withColumn(
    "foot",
    when(col("foot").isNull(), "sin especificar").otherwise(col("foot"))
)

In [ ]:
# Ver valores nulos de la columna 'market_value_in_eur'
df_players.filter(col('market_value_in_eur').isNull()).show()

In [ ]:
# Calcular la mediana del valor de mercado (excluyendo nulos y ceros)
mediana_market_value = df_players.filter(
    col("market_value_in_eur").isNotNull() & (col("market_value_in_eur") > 0)
).approxQuantile("market_value_in_eur", [0.5], 0.01)[0]  # 0.01 es la precisi√≥n

print(f"Mediana del valor de mercado (excluyendo valores 0): {mediana_market_value}")

# Sustituir nulos y ceros por 'mediana_market_value'
df_players = df_players.withColumn(
    "market_value_in_eur",
    when(col("market_value_in_eur").isNull() | (col("market_value_in_eur") == 0), mediana_market_value)
    .otherwise(col("market_value_in_eur"))
)

# Comprobar de nuevo los nulos y valores minimos despues de la sustitucion
contar_nulos_por_columna(df_players).show()
df_players.select('market_value_in_eur').summary('min').show()

In [ ]:
# Repetimos el proceso para la columna 'highest_market_value_in_eur'

# Calcular la mediana del valor de mercado (excluyendo nulos y ceros)
mediana_market_value = df_players.filter(
    col("highest_market_value_in_eur").isNotNull() & (col("highest_market_value_in_eur") > 0)
).approxQuantile("highest_market_value_in_eur", [0.5], 0.01)[0]  # 0.01 es la precisi√≥n

print(f"Mediana del valor m√°ximo de mercado (excluyendo valores 0): {mediana_market_value}")

# Sustituir nulos y ceros por 'mediana_market_value'
df_players = df_players.withColumn(
    "highest_market_value_in_eur",
    when(col("highest_market_value_in_eur").isNull() | (col("highest_market_value_in_eur") == 0), mediana_market_value)
    .otherwise(col("highest_market_value_in_eur"))
)

# Comprobar de nuevo los nulos y valores minimos despues de la sustitucion
contar_nulos_por_columna(df_players).show()
df_players.select('highest_market_value_in_eur').summary('min').show()

In [ ]:
# Ver nulos en la columna 'height_in_cm'
df_players.filter(col('height_in_cm').isNull()).show()

In [ ]:
# Ver el valor minimo de la columna 'height_in_cm'
df_players.select('height_in_cm').summary('min').show()

In [ ]:
# El valor minimo de altura es 17cm, lo cual es imposible
# Sustituimos los valores nulos y minimos por la media de altura

# Calcular la media de altura (excluyendo nulos y valores <= 100)
avg_height = df_players.filter(col("height_in_cm").isNotNull()).filter(col("height_in_cm") > 100).agg(avg("height_in_cm")).collect()[0][0]
print(f"Media de la altura (excluyendo valores <= 100): {avg_height}")

# Sustituimos los valores nulos y minimos por 'avg_height'
df_players = df_players.withColumn(
    "height_in_cm",
    when(col("height_in_cm").isNull() | (col("height_in_cm") <= 100), avg_height).otherwise(col("height_in_cm"))
)

# Comprobar de nuevo los nulos y valores minimos despues de la sustitucion
contar_nulos_por_columna(df_players).show()
df_players.select('height_in_cm').summary('min').show()

In [ ]:
# Ver nulos en la columna 'first_name'
df_players.filter(col('first_name').isNull()).show()

In [ ]:
# Parece que los nulos de la columna 'first_name' se deben a que el jugador aparece con su apodo
# Sustituir los first_name nulos por 'Desconocido'

df_players = df_players.withColumn(
    "first_name",
    when(col("first_name").isNull(), "desconocido").otherwise(col("first_name"))
)
# Ver nulos de nuevo
contar_nulos_por_columna(df_players).show()

In [ ]:
# Ver nulos de la columna 'date_of_birth'
df_players.filter(col('date_of_birth').isNull()).show()

In [ ]:
# Sustituimos las fechas de nacimiento nulas por un valor por defecto
# para indicar que la fecha es desconocida (no deberia ser una fecha que pueda aparecer en otros registros)
default_timestamp = to_timestamp(lit('1900-01-01 00:00:00'))

df_players = df_players.withColumn(
    "date_of_birth",
    when(col("date_of_birth").isNull(), default_timestamp).otherwise(col("date_of_birth"))
)
# Ver nulos de nuevo
contar_nulos_por_columna(df_players).show()

In [ ]:
# Ver nulos de la columna 'sub_position'
df_players.filter(col('sub_position').isNull()).show()

In [ ]:
# En la columna 'position' ya existe un valor 'Missing' que podemos usar para corregir los nulos
df_players = df_players.withColumn(
    "sub_position",
    when(col("sub_position").isNull(), "Missing").otherwise(col("sub_position"))
)
# Ver nulos de nuevo
contar_nulos_por_columna(df_players).show()

In [ ]:
# Ver nulos de las columnas 'country_of_birth' y 'city_of_birth'
df_players.filter(col('country_of_birth').isNull()).show()
df_players.filter(col('city_of_birth').isNull()).show()

En las columnas 'country_of_birth' y 'city_of_birth' hay varios casos donde no hay valor para el pa√≠s pero si para la ciudad. Para recuperar esos datos perdidos, definimos una funci√≥n que mapea ciudad a pa√≠s usando `geopy`

In [ ]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut, GeocoderServiceError
import time

# Instanciamos el geolocalizador
geolocator = Nominatim(user_agent="city_to_country_mapper")

# Funci√≥n para mapear ciudad a pa√≠s
def get_country(city):
    try:
        location = geolocator.geocode(city, language="en", timeout=10)
        if location and location.address:
            address_parts = location.address.split(", ")
            for part in reversed(address_parts):
                if len(part) > 2 and not any(char.isdigit() for char in part):
                    return part
        return None
    except (GeocoderTimedOut, GeocoderServiceError) as e:
        print(f"Error geocoding {city}: {e}")
        return None
    except Exception as e:
        print(f"Unexpected error for {city}: {e}")
        return None

# Crea una UDF para usar en Spark
get_country_udf = udf(get_country, StringType())

# Filtra las ciudades donde no hay pais pero hay ciudad
cities_df = df_players.filter(col("country_of_birth").isNull() & col("city_of_birth").isNotNull()) \
                   .select("city_of_birth").distinct()

# Collect para traerlas al driver (Cuidado si hay muchas)
cities = [row['city_of_birth'] for row in cities_df.collect() if row['city_of_birth'] is not None]

# Diccionario ciudad-pa√≠s
city_country_map = {}

for city in cities:
    country = get_country(city)
    if country:
        city_country_map[city] = country
        print(f"Mapped {city} to {country}")
    else:
        city_country_map[city] = None
        print(f"Could not map {city}")
    time.sleep(1)  # No bombardees el server como un cavern√≠cola

# Transforma el diccionario a un DataFrame para hacer join
mapping_rows = [(k, v) for k, v in city_country_map.items()]
mapping_df = spark.createDataFrame(mapping_rows, ["city_of_birth", "mapped_country"])

# Une el mapping con el DataFrame original
df_players_mapped = df_players.join(mapping_df, on="city_of_birth", how="left")

# Actualiza la columna 'country_of_birth' donde sea NULL
df_players_mapped = df_players_mapped.withColumn("country_of_birth",
    when(col("country_of_birth").isNull() & col("mapped_country").isNotNull(), col("mapped_country"))
    .otherwise(col("country_of_birth"))
)

# (Opcional) Quita la columna de mapeo
df_players_mapped = df_players_mapped.drop("mapped_country")

In [ ]:
# Comprobar si el mapeo se ha realizado correctamente
print(f"Valores nulos en 'country_of_birth' antes del mapeo:", df_players.filter(col('country_of_birth').isNull()).count())
print(f"Valores nulos en 'country_of_birth' despues del mapeo:", df_players_mapped.filter(col('country_of_birth').isNull()).count())

In [ ]:
# El resto de valores nulos son de filas donde no hay ni pais ni ciudad
# Sustituimos esos valores por un valor 'Desconocido'
df_players_mapped = df_players_mapped.withColumn(
    "country_of_birth",
    when(col("country_of_birth").isNull(), "Desconocido").otherwise(col("country_of_birth"))
)
df_players_mapped = df_players_mapped.withColumn(
    "city_of_birth",
    when(col("city_of_birth").isNull(), "Desconocida").otherwise(col("city_of_birth"))
)
# Ver nulos de nuevo
contar_nulos_por_columna(df_players_mapped).show()

In [ ]:
# Eliminamos las columnas 'country_of_citizenship', 'image_url' y 'url' porque no son utiles para nuestro analisis
df_players_mapped = df_players_mapped.drop("country_of_citizenship","image_url", "url")
df_players_mapped.show()

# Archivo "transfers.csv"

In [ ]:
# Cargar el csv
df_transfers = spark.read.csv("/root/.cache/kagglehub/datasets/davidcariboo/player-scores/versions/602/transfers.csv", header=True, inferSchema=True)

# Ver las primeras filas
df_transfers.show(10)
df_transfers.printSchema()
df_transfers.columns

In [ ]:
mostrar_sumario(df_transfers).show()

In [ ]:
contar_nulos_por_columna(df_transfers).show()

In [ ]:
duplicados_por_columna(df_transfers, "player_id")

In [ ]:
# Sustituir los nulos de la columna transfer_fee por 0

df_transfers = df_transfers.withColumn(
    "transfer_fee",
    when(col("transfer_fee").isNull(), 0).otherwise(col("transfer_fee"))
)

# Comprobar de nuevo los nulos despues de la sustitucion
contar_nulos_por_columna(df_transfers).show()

In [ ]:
# Sustituir los nulos de market_value_in_eur por la mediana del equipo que procede

# Calcular la mediana del valor de mercado por jugador (excluyendo nulos y ceros)
mediana_market_value_por_jugador = df_transfers.filter(
    col("market_value_in_eur").isNotNull() & (col("market_value_in_eur") > 0)
).groupBy("player_id").agg(
    approx_percentile("market_value_in_eur", 0.5).alias("mediana_mv_por_jugador")
)

# Unir la mediana por club al DataFrame original
df_transfers = df_transfers.join(mediana_market_value_por_jugador, on="player_id", how="left_outer")

# Sustituir nulos en 'market_value_in_eur' por la mediana del jugador
df_transfers = df_transfers.withColumn(
    "market_value_in_eur",
    when(col("market_value_in_eur").isNull(), col("mediana_mv_por_jugador")).otherwise(col("market_value_in_eur"))
)

# Eliminar la columna temporal de la mediana por club
df_transfers = df_transfers.drop("mediana_mv_por_jugador")

# Comprobar de nuevo los nulos despues de la sustitucion
contar_nulos_por_columna(df_transfers).show()
df_transfers.select("player_id", "market_value_in_eur", "transfer_fee").show(20)

In [ ]:
# Aun quedan nulos en 'market_value_in_eur', estos son de jugadores que no estaban en 'df_players' o no ten√≠an market_value > 0
# Podemos rellenarlos con la mediana general
mediana_market_value = df_transfers.filter(
    col("market_value_in_eur").isNotNull()
).agg(approx_percentile("market_value_in_eur", 0.5)).collect()[0][0]

df_transfers = df_transfers.withColumn(
    "market_value_in_eur",
    when(col("market_value_in_eur").isNull(), mediana_market_value).otherwise(col("market_value_in_eur"))
)
# Comprobar de nuevo los nulos despues de la sustitucion
contar_nulos_por_columna(df_transfers).show()
df_transfers.select("player_id", "market_value_in_eur", "transfer_fee").show(20)

# Guardar las tablas limpias

In [ ]:
# Ruta donde guardar el archivo CSV
output_path = "../Data"

# Guardar cada DataFrame en formato CSV
# Spark por defecto guarda en particiones
# Para guardarlo en un solo archivo, usar repartition(1) antes de 'write'
df_clubs.repartition(1).write.csv(output_path + "/clubs", header=True, mode="overwrite")
df_competitions.repartition(1).write.csv(output_path + "/competitions", header=True, mode="overwrite")
df_game_events.repartition(1).write.csv(output_path + "/game_events", header=True, mode="overwrite")
df_game_lineups_cleaned.repartition(1).write.csv(output_path + "/game_lineups", header=True, mode="overwrite")
df_appearances.repartition(1).write.csv(output_path + "/appearances", header=True, mode="overwrite")
df_player_valuations.repartition(1).write.csv(output_path + "/player_valuations", header=True, mode="overwrite")
df_games.repartition(1).write.csv(output_path + "/games", header=True, mode="overwrite")
df_players_mapped.repartition(1).write.csv(output_path + "/players", header=True, mode="overwrite")
df_transfers.repartition(1).write.csv(output_path + "/transfers", header=True, mode="overwrite")

In [ ]:
# Importante cerrar la sesion de spark
spark.stop()

ConnectionRefusedError: [Errno 111] Connection refused